# GLOBAL PERPS SETTINGS
[setting.perpsMinLiquidationReward]
defaultValue = "1"

[setting.perpsMaxLiquidationReward]
defaultValue = "500"

# ------------------------------
[invoke.setPerpsLiquidationRewardLimits]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setKeeperRewardGuards"
args = ["<%= parseEther('1') %>", "<%= parseEther('0') %>", "<%= parseEther('500') %>", "<%= parseEther('0') %>"]
depends = ["provision.perpsFactory"]

[invoke.setPerpsMaxCollateralForSnxUsd]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["0", "<%= MaxUint256 %>"]
depends = ["provision.perpsFactory"]

[invoke.setPerpsSynthDeductionPriority]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSynthDeductionPriority"
args = [
    [
        "<%= extras.synth_snx_market_id %>",
        "<%= extras.synth_op_market_id %>",
        "<%= extras.synth_link_market_id %>",
        "<%= extras.synth_eth_market_id %>",
        "<%= extras.synth_btc_market_id %>",
        "0"
    ]
]
depends = [
    "invoke.createOpSynth",
    "invoke.createLinkSynth",
    "invoke.createEthSynth",
    "invoke.createSnxSynth",
    "invoke.createBtcSynth",
    "provision.perpsFactory"
]

[invoke.setPerAccountCapsPerps]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setPerAccountCaps"
args = ["5", "3"]
depends = ["provision.perpsFactory"]

# set global max cap for allowed collateral on perps super market
[invoke.setCollateralConfigurationBtc]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["<%= extras.synth_btc_market_id %>", "<%= settings.perpsBtcSynthMaxCollateralAmount %>"]
depends = ["invoke.createBtcSynth", "provision.perpsFactory"]

[invoke.setCollateralConfigurationEth]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["<%= extras.synth_eth_market_id %>", "<%= settings.perpsEthSynthMaxCollateralAmount %>"]
depends = ["invoke.createEthSynth", "provision.perpsFactory"]

[invoke.setCollateralConfigurationLink]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["<%= extras.synth_link_market_id %>", "<%= settings.perpsLinkSynthMaxCollateralAmount %>"]
depends = ["invoke.createLinkSynth", "provision.perpsFactory"]

[invoke.setCollateralConfigurationOp]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["<%= extras.synth_op_market_id %>", "<%= settings.perpsOpSynthMaxCollateralAmount %>"]
depends = ["invoke.createOpSynth", "provision.perpsFactory"]

[invoke.setCollateralConfigurationSnx]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["<%= extras.synth_snx_market_id %>", "<%= settings.perpsSnxSynthMaxCollateralAmount %>"]
depends = ["invoke.createSnxSynth", "provision.perpsFactory"]
