# GLOBAL PERPS SETTINGS
[setting.perpsMinLiquidationReward]
defaultValue = "1"

[setting.perpsMaxLiquidationReward]
defaultValue = "500"

# ------------------------------
[invoke.setPerpsLiquidationRewardLimits]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationRewardGuards"
args = ["<%= parseEther('1') %>", "<%= parseEther('500') %>"]

[invoke.setPerpsMaxCollateralForSnxUsd]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxCollateralAmount"
args = ["0", "<%= MaxUint256 %>"]

[invoke.setPerpsSynthDeductionPriority]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSynthDeductionPriority"
args = [
    [
        "<%= extras.synth_snx_market_id %>",
        "<%= extras.synth_op_market_id %>",
        "<%= extras.synth_link_market_id %>",
        "<%= extras.synth_eth_market_id %>",
        "<%= extras.synth_btc_market_id %>",
        "0"
    ]
]

[invoke.setPerAccountCapsPerps]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setPerAccountCaps"
args = ["5", "3"]
