name = "synthetix-omnibus"
version = "3.3.4"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/ccip-mainnet.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/markets/spot-factory.toml",
    "tomls/markets/spot/eth.toml",
    "tomls/permit-all-transferCrossChain.toml",
]

[setting.target_preset]
defaultValue = "main"

[setting.salt]
defaultValue = "0x3330363734343032330000000000000000000000000000000000000000000000"

[setting.snx_package]
defaultValue = "synthetix:3.3.4"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.4"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.4"

[setting.owner]
defaultValue = "0x6E1613B5c68B4Cf2A58400D8019a97849A678139"

#[setting.snx_address]
#defaultValue = "0x"
#[setting.snx_aggregator_address]
#defaultValue = "0x"
[setting.weth_address]
# https://docs.base.org/base-contracts/#base-mainnet
defaultValue = "0x4200000000000000000000000000000000000006"

[setting.eth_aggregator_address]
# https://docs.chain.link/data-feeds/price-feeds/addresses/?network=base
defaultValue = "0x71041dddad3595F9CEd3DcCFBe3D1F4b0a16Bb70"

#[setting.snx_liquidation_reward]
#defaultValue = "10000000000000000000"
[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.deployer]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"

[setting.ccip_router]
# https://docs.chain.link/ccip/supported-networks#base-mainnet
defaultValue = "0x673aa85efd75080031d44fca061575d1da427a28"

[setting.ccip_token_pool]
# https://docs.chain.link/ccip/supported-networks#base-mainnet
# TODO: Update when snxUSD pool availabe Base Mainnet
defaultValue = "0x0000000000000000000000000000000000000000"

# ETH Synth Configuration
[setting.synthEthAsyncFixedFee]
defaultValue = "0.001"

[setting.synthEthMaxMarketCollateral]
defaultValue = "100"

[setting.synthEthSkewScale]
defaultValue = "100000"

[setting.synthEthWrapFee]
defaultValue = "0.0001"

[setting.synthEthUnwrapFee]
defaultValue = "0.0001"

[setting.ethSettlementWindowDuration]
defaultValue = "60"

[setting.ethSettlementDelay]
defaultValue = "15"

# Pyth settlement strategy config
[setting.pythFeedUrl]
defaultValue = "https://api.synthetix.io/pyth-mainnet/api/get_vaa_ccip?data={data}"

[setting.pythEthFeedId]
# https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet
defaultValue = "0xff61491a931112ddf1bd8147cd1b641375f79f5825126d665480874634fd0ace"

[setting.pythPriceVerificationAddress]
# https://docs.pyth.network/documentation/pythnet-price-feeds/evm
defaultValue = "0x8250f4aF4B972684F7b336503E2D6dFeDeB1487a"

[invoke.configure_spartan_council_pool]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= extras.synth_eth_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[invoke.configure_weth_collateral_for_spartan_council_pool]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolCollateralConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= settings.weth_address %>",
    { collateralLimitD18 = "<%= MaxUint256 %>", issuanceRatioD18 = "<%= MaxUint256 %>" },
]
depends = ["invoke.createScPool"]
