name = "synthetix-omnibus"
version = "3.0.0-alpha.13"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/snx.toml",
    # "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
]

[setting.owner]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"

[setting.snx_address]
defaultValue = "0xc011a73ee8576fb46f5e1c5751ca3b9fe0af2a6f"

[setting.snx_aggregator_address]
defaultValue = "0xDC3EA94CD0AC27d9A86C180091e7f78C683d3699"

[setting.snx_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.deployer]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"

[setting.sc_pool_id]
defaultValue = "1"

[setting.sc_pool_owner]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"
