name = "synthetix-omnibus"
version = "3.2.2-testing-update.0"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings-testnet.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/snx.toml",
    "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/permit-all-createPool.toml",
    "tomls/permit-all-registerMarket.toml",
]

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.weth_address]
defaultValue = "0xb4fbf271143f4fbf7b91a5ded31805e42b2208d6"

[setting.eth_aggregator_address]
defaultValue = "0xD4a33860578De61DBAbDc8BFdb98FD742fA7028e"

[setting.snx_address]
defaultValue = "0x51f44ca59b867E005e48FA573Cb8df83FC7f7597"

[setting.snx_aggregator_address]
defaultValue = "0x48731cF7e84dc94C5f84577882c14Be11a5B7456"

[setting.snx_liquidation_reward]
defaultValue = "20000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.sc_pool_id]
defaultValue = "1"

[setting.sc_pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.ccip_router]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.ccip_token_pool]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"
