name = "synthetix-omnibus"
version = "3.1.0"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/snx.toml",
    # "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",

    "tomls/markets/spot/eth.toml",
]

[setting.owner]
defaultValue = "0x6E1613B5c68B4Cf2A58400D8019a97849A678139"

[setting.salt]
defaultValue = "0x3330363734343032330000000000000000000000000000000000000000000000"

[setting.snx_address]
defaultValue = "0x8700dAec35aF8Ff88c16BdF0418774CB3D7599B4"

[setting.snx_aggregator_address]
defaultValue = "0x2FCF37343e916eAEd1f1DdaaF84458a359b53877"

[setting.weth_address]
defaultValue = "0x4200000000000000000000000000000000000006"

[setting.eth_aggregator_address]
defaultValue = "0x13e3Ee699D1909E989722E753853AE30b17e08c5"

[setting.snx_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.deployer]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"

[setting.sc_pool_id]
defaultValue = "1"

[setting.sc_pool_owner]
defaultValue = "0x302d2451d9f47620374B54c521423Bf0403916A2"

# ETH Synth Configuration

[setting.synthEthAsyncFixedFee]
defaultValue = "0.001"

[setting.synthEthMaxMarketCollateral]
defaultValue = "100"

[setting.synthEthSkewScale]
defaultValue = "100000"

[setting.synthEthWrapFee]
defaultValue = "0.0001"

[setting.synthEthUnwrapFee]
defaultValue = "0.0001"

[setting.synthEthSettlementWindowDuration]
defaultValue = "600"

# Pyth settlement strategy config
[setting.pythFeedUrl]
defaultValue = "https://api.synthetix.io/pyth-mainnet/api/get_vaa_ccip?data={data}"

[setting.pythEthFeedId]
defaultValue = "0xca80ba6dc32e08d06f1aa886011eed1d77c77be9eb761cc10d72b7d0a2fd57a6"
