name = "synthetix-omnibus"
version = "3.3.3-dev.a31b56e8"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings-testnet.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    # "tomls/collaterals/weth.toml",
    # "tomls/collaterals/wbtc.toml",
    # "tomls/collaterals/op.toml",
    "tomls/omnibus-base-goerli-competition/collaterals/fake-snx.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/pools/passive-snx.toml",
    "tomls/omnibus-base-goerli-competition/pools/spots.toml",
    "tomls/omnibus-base-goerli-competition/pools/perps.toml",
    "tomls/permit-all-createPool.toml",
    "tomls/permit-all-registerMarket.toml",
    "tomls/permit-all-transferCrossChain.toml",
    "tomls/markets/spot/eth.toml",
    "tomls/markets/spot/btc.toml",
    "tomls/markets/spot/snx.toml",
    "tomls/markets/spot/link.toml",
    "tomls/markets/spot/op.toml",
    "tomls/markets/perps/eth.toml",
    "tomls/markets/perps/btc.toml",
    "tomls/markets/perps/snx.toml",
    "tomls/markets/perps/link.toml",
    "tomls/markets/perps/op.toml",
    # overrides for the oracles
    "tomls/oracles/pyth-eth.toml",
    "tomls/oracles/pyth-btc.toml",
    "tomls/oracles/pyth-snx.toml",
    "tomls/oracles/pyth-link.toml",
    "tomls/oracles/pyth-op.toml",
    # overrides for perp markets
    "tomls/omnibus-base-goerli-competition/perps/global.toml",
    "tomls/omnibus-base-goerli-competition/perps/btc.toml",
    "tomls/omnibus-base-goerli-competition/perps/eth.toml",
    "tomls/omnibus-base-goerli-competition/perps/op.toml",
    "tomls/omnibus-base-goerli-competition/perps/link.toml",
    "tomls/omnibus-base-goerli-competition/perps/snx.toml",
    # overrides for synth markets
    "tomls/omnibus-base-goerli-competition/synths/btc.toml",
    "tomls/omnibus-base-goerli-competition/synths/eth.toml",
    "tomls/omnibus-base-goerli-competition/synths/op.toml",
    "tomls/omnibus-base-goerli-competition/synths/link.toml",
    "tomls/omnibus-base-goerli-competition/synths/snx.toml",
]

[setting.snx_package]
defaultValue = "synthetix:3.3.3-dev.a31b56e8"

[setting.target_preset]
defaultValue = "competition"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.3-dev.a31b56e8"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.3-dev.a31b56e8"

[setting.salt]
defaultValue = "competition"

[setting.spotMarketExternalNodeAddress]
defaultValue = "0xF342E904702b1D021F03f519D6D9614916b03f37"

[setting.pythPriceVerificationAddress]
defaultValue = "0x5955C1478F0dAD753C7E2B4dD1b4bC530C64749f"

[setting.pythFeedUrl]
defaultValue = "https://api.synthetix.io/pyth-testnet/api/get_vaa_ccip?data={data}"

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.weth_address]
defaultValue = "0x4200000000000000000000000000000000000006"

[setting.wbtc_address]
defaultValue = "0xe7798f023fc62146e8aa1b36da45fb70855a77ea"

[setting.op_address]
defaultValue = "0x4200000000000000000000000000000000000042"

[setting.weth_aggregator_address]
defaultValue = "0xcD2A119bD1F7DF95d706DE6F2057fDD45A0503E2"

[setting.eth_aggregator_address]
defaultValue = "0x9849832a1d8274aaeDb1112ad9686413461e7101"

[setting.btc_aggregator_address]
defaultValue = "0x9849832a1d8274aaeDb1112ad9686413461e7101"

[setting.snx_aggregator_address]
defaultValue = "0x9849832a1d8274aaeDb1112ad9686413461e7101"

[setting.link_aggregator_address]
defaultValue = "0x9849832a1d8274aaeDb1112ad9686413461e7101"

[setting.op_aggregator_address]
defaultValue = "0x9849832a1d8274aaeDb1112ad9686413461e7101"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "60"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.sc_pool_id]
defaultValue = "1"

[setting.spots_pool_id]
defaultValue = "10"

[setting.perps_pool_id]
defaultValue = "11"

[setting.pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.ccip_router]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.ccip_token_pool]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[invoke.setScPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= extras.synth_btc_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_eth_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_link_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_op_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_snx_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" }
    ],
]
depends = [
    "invoke.createScPool",
    "invoke.createEthSynth",
    "invoke.createBtcSynth",
    "invoke.createSnxSynth",
    "invoke.createLinkSynth",
    "invoke.createOpSynth",
    "provision.perpsFactory"
]

[invoke.setPerpsPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.perps_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.perps_pool_id %>",
    [
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" }
    ],
]
depends = ["invoke.createPerpsPool", "provision.perpsFactory"]

[invoke.setSpotsPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.spots_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.spots_pool_id %>",
    [
        { marketId = "<%= extras.synth_btc_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_eth_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_link_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_op_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_snx_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]
depends = [
    "invoke.createSpotsPool",
    "invoke.createEthSynth",
    "invoke.createBtcSynth",
    "invoke.createSnxSynth",
    "invoke.createLinkSynth",
    "invoke.createOpSynth"
]
