name = "synthetix-omnibus"
version = "9"
description = "Andromeda deployment"
preset = "andromeda"
include = [
    "tomls/core.toml",                                              # Provision the core system
    "tomls/settings.toml",                                          # Apply minimum liquidity ratio and withdrawal timeout
    "tomls/permissions.toml",                                       # Allow deployer to create pools
    "tomls/permit-deniers.toml",                                    # Add feature flag deniers to perps and core systems
    "tomls/pools/spartan-council.toml",                             # Create Spartan Council Pool
    "tomls/markets/spot-factory.toml",
    "tomls/markets/perps-factory.toml",
    "tomls/omnibus-base-mainnet-andromeda/spot/usdc.toml",          # sUSDC spot market/wrapper
    "tomls/permit-all-perps-perpsSystem.toml",                      # Enable perps market
    "tomls/omnibus-base-mainnet-andromeda/perps/referrers.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/global.toml",
    "tomls/oracles/perps-keeper-cost.toml",                         # Add gas oracle for keeper fees
    "tomls/omnibus-base-mainnet-andromeda/perps/feeCollector.toml",
    # Collaterals
    "tomls/omnibus-base-mainnet-andromeda/collaterals/susdc.toml",
    "tomls/collaterals/susdc.toml",
    # BTC
    "tomls/omnibus-base-mainnet-andromeda/perps/btc-invokes.toml",
    "tomls/oracles/pyth-btc.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/btc.toml",
    # ETH
    "tomls/omnibus-base-mainnet-andromeda/perps/eth-invokes.toml",
    "tomls/oracles/pyth-eth.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/eth.toml",
    # SNX
    "tomls/omnibus-base-mainnet-andromeda/perps/snx-invokes.toml",
    "tomls/oracles/pyth-snx.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/snx.toml",
    # SOL
    "tomls/omnibus-base-mainnet-andromeda/perps/sol-invokes.toml",
    "tomls/oracles/pyth-sol.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/sol.toml",
    # WIF
    "tomls/omnibus-base-mainnet-andromeda/perps/wif-invokes.toml",
    "tomls/oracles/pyth-wif.toml",
    "tomls/omnibus-base-mainnet-andromeda/perps/wif.toml",
]

[setting.commitmentPriceDelay]
defaultValue = "2"

[setting.bigCapSettlementDelay]
defaultValue = "2"

[setting.snx_package]
defaultValue = "synthetix:3.3.15"

[setting.perps_keeper_cost_package]
defaultValue = "op-gas-price-oracle:3.3.15"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.15"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.18"

[setting.buyback_snx_package]
defaultValue = "buyback-snx:3.3.5" # Do not update! This package isn't upgradeable. A version change will deploy a new contract.

[setting.salt]
defaultValue = "andromeda"

[setting.target_preset]
defaultValue = "andromeda" # Preset assigned to provisioned packages

[setting.pyth_price_verification_address]
defaultValue = "0x8250f4aF4B972684F7b336503E2D6dFeDeB1487a"

[provision.pyth_erc7412_wrapper]
source = "pyth-erc7412-wrapper:3.3.15"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.pythAddress = "<%= settings.pyth_price_verification_address %>"

[setting.owner]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.deployer]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('1.25') %>" # 125% min market collateralization

[setting.account_timeout_withdraw]
defaultValue = "86400" # 1 day

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[invoke.setScPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[setting.usdc_address]
defaultValue = "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"

[setting.snx_address]
defaultValue = "0x22e6966B799c4D5B13BE962E1D117b56327FDa66"

[provision.stp_14_spartan_council_pool_snx_rewards]
source = "synthetix-rewards-distributor:0.0.2"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.rewardManager = "<%= imports.system.contracts.CoreProxy.address %>"
options.poolId = "<%= settings.sc_pool_id %>"
options.collateralType = "<%= extras.synth_usdc_token_address %>"
options.payoutToken = "<%= settings.snx_address %>"
options.payoutTokenDecimals = "18"
options.name = "Spartan Council Pool Rewards"

[invoke.stp_14_register_spartan_council_pool_snx_rewards]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= extras.synth_usdc_token_address %>",
    "<%= imports.stp_14_spartan_council_pool_snx_rewards.contracts.RewardsDistributor.address %>",
]

[provision.sccp_313_spartan_council_pool_usdc_rewards]
source = "synthetix-rewards-distributor:0.0.2"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.rewardManager = "<%= imports.system.contracts.CoreProxy.address %>"
options.poolId = "<%= settings.sc_pool_id %>"
options.collateralType = "<%= extras.synth_usdc_token_address %>"
options.payoutToken = "<%= settings.usdc_address %>"
options.payoutTokenDecimals = "6"
options.name = "Spartan Council Pool USDC Rewards"

[invoke.sccp_313_register_spartan_council_pool_usdc_rewards]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= extras.synth_usdc_token_address %>",
    "<%= imports.sccp_313_spartan_council_pool_usdc_rewards.contracts.RewardsDistributor.address %>",
]
