name = "synthetix-omnibus"
version = "3.1.1"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    #"tomls/collaterals/snx.toml",
    "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/permit-all-createPool.toml",
    "tomls/permit-all-registerMarket.toml",
]

[setting.owner]
defaultValue = "0x6E1613B5c68B4Cf2A58400D8019a97849A678139"

[setting.salt]
defaultValue = "0x3330363734343032330000000000000000000000000000000000000000000000"

[setting.bundleSalt]
defaultValue = "snax"

[setting.weth_address]
defaultValue = "0x7b79995e5f793a07bc00c21412e50ecae098e7f9"

[setting.eth_aggregator_address]
defaultValue = "0x694AA1769357215DE4FAC081bf1f309aDC325306"

[setting.weth_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.sc_pool_id]
defaultValue = "1"

[setting.sc_pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.wethIsEnabled]
defaultValue = false