name = "synthetix-omnibus"
version = "3.3.4"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings-testnet.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/pools/passive-snx.toml",
    "tomls/permit-all-createPool.toml",
    "tomls/permit-all-registerMarket.toml",
    "tomls/permit-all-transferCrossChain.toml",
]

[setting.snx_package]
defaultValue = "synthetix:3.3.4"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.4"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.4"

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.weth_address]
defaultValue = "0xA6FA4fB5f76172d178d61B04b0ecd319C5d1C0aa"

[setting.eth_aggregator_address]
defaultValue = "0x0715A7794a1dc8e42615F059dD6e406A6594651A"

[setting.snx_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.weth_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "0"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

# Chainlink Configuration

[setting.ccip_router]
defaultValue = "0x70499c328e1e2a3c41108bd3730f6670a44595d1"

[setting.ccip_token_pool]
defaultValue = "0xb8b8592aaf82bd42190aa8b629c6afa35a433461"
