name = "synthetix-omnibus"
version = "4"
description = "Arbitrum deployment"
preset = "arbthetix"
include = [
    "tomls/core.toml",                           # Provision the core system
    "tomls/settings.toml",                       # Apply minimum liquidity ratio and withdrawal timeout
    "tomls/permissions.toml",                    # Allow deployer to create pools
    "tomls/permit-deniers.toml",                 # Add feature flag deniers to perps and core systems
    "tomls/pools/spartan-council.toml",          # Create Spartan Council Pool
    "tomls/markets/spot-factory.toml",
    "tomls/markets/perps-factory.toml",
    "tomls/markets/common/bigcap-settings.toml",
    #"tomls/omnibus-arbitrum-sepolia-arbthetix/spot/usdc.toml",
    #"tomls/omnibus-arbitrum-sepolia-arbthetix/spot/dai.toml",
    "tomls/permit-all-perps-perpsSystem.toml",                                 # Enable perps market
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/referrers.toml",
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/global.toml",              # Global perps settings
    "tomls/omnibus-arbitrum-sepolia-arbthetix/oracles/perps-keeper-cost.toml", # Add gas oracle for keeper fees
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/feeCollector.toml",

    # BTC
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/btc-invokes.toml",
    "tomls/oracles/pyth-btc.toml",
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/btc.toml",
    # ETH
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/eth-invokes.toml",
    "tomls/oracles/pyth-eth.toml",
    "tomls/collaterals/weth.toml",
    "tomls/omnibus-arbitrum-sepolia-arbthetix/perps/eth.toml",
    # ARB
    "tomls/oracles/pyth-arb.toml",
    "tomls/collaterals/arb.toml",
]

[setting.commitmentPriceDelay]
defaultValue = "2"

[setting.bigCapSettlementDelay]
defaultValue = "2"

[setting.snx_package]
defaultValue = "synthetix:3.3.15"

[setting.perps_keeper_cost_package]
defaultValue = "arbitrum-gas-price-oracle:3.3.16"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.15"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.17"

[setting.buyback_snx_package]
defaultValue = "buyback-snx:3.3.14" # Do not update! This package isn't upgradeable. A version change will deploy a new contract.

[setting.salt]
defaultValue = "ARBTHETIX"

[setting.target_preset]
defaultValue = "arbthetix" # Preset assigned to provisioned packages

[setting.pyth_price_verification_address]
# https://docs.pyth.network/documentation/pythnet-price-feeds/evm
defaultValue = "0x4374e5a8b9C22271E9EB878A2AA31DE97DF15DAF"

[provision.pyth_erc7412_wrapper]
source = "pyth-erc7412-wrapper:3.3.14"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.pythAddress = "<%= settings.pyth_price_verification_address %>"

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('1.25') %>" # 125% min market collateralization

[setting.account_timeout_withdraw]
defaultValue = "86400" # 1 day

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.arb_aggregator_address]
defaultValue = "0xD1092a65338d049DB68D7Be6bD89d17a0929945e"

[setting.eth_aggregator_address]
defaultValue = "0xd30e2101a97dcbAeBCBC04F14C3f624E67A35165"

[setting.weth_address]
defaultValue = "0x980B62Da83eFf3D4576C647993b0c1D7faf17c73"

[setting.arb_address]
defaultValue = "0xc275B23C035a9d4EC8867b47f55427E0bDCe14cB"

[invoke.setScPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[invoke.allowAllPerpsSystem_revert]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = ["<%= formatBytes32String('perpsSystem') %>", false]
depends = ["invoke.allowAllPerpsSystem"]

[invoke.allowCreateAccount_revert]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = ["<%= formatBytes32String('createAccount') %>", false]

[invoke.setUsdTokenName]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "initOrUpgradeToken"
args = [
    "0x555344546f6b656e000000000000000000000000000000000000000000000000",
    "DollarWifHat",
    "USDh",
    18,
    "<%= imports.system.contracts.USDRouter.address %>",
]
