name = "synthetix-omnibus"
version = "6"
description = "Arbitrum deployment"
preset = "arbthetix"
include = [
    # Deployment-specific permissions
    "tomls/omnibus-arbitrum-mainnet-arbthetix/permissions.toml",

    "tomls/core.toml",                           # Provision the core system
    "tomls/settings.toml",                       # Apply minimum liquidity ratio and withdrawal timeout
    "tomls/permissions.toml",                    # Allow deployer to create pools
    "tomls/permit-deniers.toml",                 # Add feature flag deniers to perps and core systems
    "tomls/pools/spartan-council.toml",          # Create Spartan Council Pool
    "tomls/markets/spot-factory.toml",
    "tomls/markets/perps-factory.toml",
    "tomls/markets/common/bigcap-settings.toml",
    #"tomls/omnibus-arbitrum-mainnet-arbthetix/spot/usdc.toml",
    #"tomls/omnibus-arbitrum-mainnet-arbthetix/spot/dai.toml",
    "tomls/permit-all-perps-perpsSystem.toml",                                 # Enable perps market
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/referrers.toml",
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/global.toml",              # Global perps settings
    "tomls/omnibus-arbitrum-mainnet-arbthetix/oracles/perps-keeper-cost.toml", # Add gas oracle for keeper fees
    #"tomls/omnibus-arbitrum-mainnet-arbthetix/perps/feeCollector.toml",
    # Collaterals
    #"tomls/omnibus-arbitrum-mainnet-arbthetix/collaterals/usdc.toml", // usdc collateral is already included with spot market deployment
    #"tomls/omnibus-arbitrum-mainnet-arbthetix/collaterals/dai.toml", // dai collateral is already included with the spot market deployment
    # BTC
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/btc-invokes.toml",
    "tomls/oracles/pyth-btc.toml",
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/btc.toml",
    # ETH
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/eth-invokes.toml",
    "tomls/oracles/pyth-eth.toml",
    "tomls/collaterals/weth.toml",
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/eth.toml",
    # ARB
    "tomls/oracles/pyth-arb.toml",
    "tomls/collaterals/arb.toml",
    "tomls/omnibus-arbitrum-mainnet-arbthetix/perps/arb.toml",
]

[setting.commitmentPriceDelay]
defaultValue = "2"

[setting.bigCapSettlementDelay]
defaultValue = "2"

[setting.bigCapDefaultStalenessTolerance]
defaultValue = "86400"

[setting.snx_package]
defaultValue = "synthetix:3.3.15"

[setting.perps_keeper_cost_package]
defaultValue = "arbitrum-gas-price-oracle:3.3.16"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.15"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.17"

[setting.buyback_snx_package]
defaultValue = "buyback-snx:3.3.14" # Do not update! This package isn't upgradeable. A version change will deploy a new contract.

[setting.salt]
defaultValue = "ARBTHETIX"

[setting.target_preset]
defaultValue = "arbthetix" # Preset assigned to provisioned packages

[setting.pyth_price_verification_address]
# https://docs.pyth.network/documentation/pythnet-price-feeds/evm
defaultValue = "0xff1a0f4744e8582DF1aE09D5611b887B6a12925C"

[provision.pyth_erc7412_wrapper]
source = "pyth-erc7412-wrapper:3.3.14"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.pythAddress = "<%= settings.pyth_price_verification_address %>"

[setting.owner]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.deployer]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('1.25') %>" # 125% min market collateralization

[setting.account_timeout_withdraw]
defaultValue = "86400" # 1 day

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0xEde8a407913A874Dd7e3d5B731AFcA135D30375E"

[setting.weth_address]
defaultValue = "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1"

[setting.arb_address]
defaultValue = "0x912CE59144191C1204E64559FE8253a0e49E6548"

[setting.usdc_address]
defaultValue = "0xaf88d065e77c8cC2239327C5EDb3A432268e5831"

[setting.dai_address]
defaultValue = "0xDA10009cBd5D07dd0CeCc66161FC93D7c9000da1"

[setting.snx_address]
# defaultValue = "0x"

[invoke.setScPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[invoke.allowAllPerpsSystem_revert]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = ["<%= formatBytes32String('perpsSystem') %>", false]
depends = ["invoke.allowAllPerpsSystem"]

[invoke.setUsdTokenName]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "initOrUpgradeToken"
args = [
    "0x555344546f6b656e000000000000000000000000000000000000000000000000",
    "DollarWifHat",
    "USDh",
    18,
    "<%= imports.system.contracts.USDRouter.address %>",
]
