name = "synthetix-omnibus"
version = "3.1.0-alpha.1"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/collaterals/snx.toml",
    "tomls/collaterals/weth.toml",
    "tomls/pools/spartan-council.toml",
    "tomls/markets/spot/eth.toml",
    "tomls/markets/spot/btc.toml",
    "tomls/markets/spot/link.toml"
]

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.weth_address]
defaultValue = "0x4200000000000000000000000000000000000006"

[setting.weth_aggregator_address]
defaultValue = "0x57241A37733983F97C4Ab06448F244A1E0Ca0ba8"

[setting.snx_address]
defaultValue = "0x2E5ED97596a8368EB9E44B1f3F25B2E813845303"

[setting.snx_aggregator_address]
defaultValue = "0x89A7630f46B8c35A7fBBC4f6e4783f1E2DC715c6"

[setting.snx_liquidation_reward]
defaultValue = "10000000000000000000"

[setting.minimum_liquidity_ratio]
defaultValue = "2000000000000000000"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.sc_pool_id]
defaultValue = "1"

[setting.sc_pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

# Aggregators for markets

[setting.link_aggregator_address]
defaultValue = "0x69C5297001f38cCBE30a81359da06E5256bd28B9"

[setting.btc_aggregator_address]
defaultValue = "0xC16679B963CeB52089aD2d95312A5b85E318e9d2"