name = "synthetix-omnibus"
preset = "carina"
version = "1"
description = "Includes the full synthetix system with configurations applied"
include = [
    "tomls/settings.toml",
    "tomls/core.toml",
    "tomls/permissions.toml",
    "tomls/oracles/eth.toml",
    "tomls/collaterals/weth.toml",
    "tomls/collaterals/snx.toml",
    "tomls/pools/spartan-council.toml",
]

# --- pkg/import settings --- #
#
#

[setting.salt]
defaultValue = "carina"

[setting.target_preset]
defaultValue = "carina"

[setting.snx_package]
defaultValue = "synthetix:3.3.18"

[setting.bfp_market_package]
defaultValue = "synthetix-bfp-market:1.0.0-alpha.2"

# --- Address settings --- #
#
#

[setting.owner]
defaultValue = "0x431D454Bd4d352A0b1f45AE11EF1182bBEec6a7B"

[setting.deployer]
defaultValue = "<%= settings.owner %>"

[setting.snx_address]
defaultValue = "0x29Ba9b0C440CE9e7B0E46138B5Fda83c22467006"
description = "https://github.com/Synthetixio/synthetix-docs/blob/master/content/addresses.md"

[setting.snx_aggregator_address]
defaultValue = "0xc0F82A46033b8BdBA4Bb0B0e28Bc2006F64355bC"
description = "https://docs.chain.link/data-feeds/price-feeds/addresses?network=ethereum&page=1#sepolia-testnet"

[setting.snx_chainlink_staleness_tolerance]
defaultValue = "3600"

[setting.wbtc_aggregator_address]
defaultValue = "0x1b44F3514812d835EB1BDB0acB33d3fA3351Ee43"
description = "https://docs.chain.link/data-feeds/price-feeds/addresses/?network=ethereum&page=1"

[setting.pyth_address]
defaultValue = "0xDd24F84d36BF92C65F92307595335bdFab5Bbd21"
description = "https://docs.pyth.network/price-feeds/contract-addresses/evm#testnets"

# --- Synthetix pool settings -- #
#
#

[setting.eth_aggregator_address]
defaultValue = "0x694AA1769357215DE4FAC081bf1f309aDC325306"
description = "https://docs.chain.link/data-feeds/price-feeds/addresses/?network=ethereum&page=1"

[setting.weth_liquidation_reward]
defaultValue = "<%= parseEther('0.005') %>"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('2') %>"

[setting.account_timeout_withdraw]
defaultValue = "86400"

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "<%= settings.owner %>"

[setting.wbtc_issuance_ratio_d18]
defaultValue = "<%= parseEther('3') %>"

[setting.wbtc_liquidation_ratio_d18]
defaultValue = "<%= parseEther('1.5') %>"

[setting.wbtc_liquidation_reward_d18]
defaultValue = "<%= parseEther('0.01') %>"

[setting.wbtc_min_delegation_d18]
defaultValue = "<%= parseEther('0.01') %>"

[setting.weth_max_pool_collateral]
defaultValue = "<%= parseEther(String(20_000)) %>"

[setting.wbtc_max_pool_collateral]
defaultValue = "<%= parseEther(String(20_000)) %>"

# --- BFP configurations  -- #
#
#

# Collaterals
[setting.susd_max_collateral]
defaultValue = "<%= parseEther(String(100_000_000)) %>"

[setting.weth_max_collateral]
defaultValue = "<%= parseEther(String(10_000)) %>"

[setting.wbtc_max_collateral]
defaultValue = "<%= parseEther(String(10_000)) %>"

[setting.susd_skew_scale]
defaultValue = "0" # skew scale is not used for sUSD.

[setting.weth_skew_scale]
defaultValue = "<%= parseEther(String(1_000_000)) %>"

[setting.wbtc_skew_scale]
defaultValue = "<%= parseEther(String(50_000)) %>"

# Global market configurations
[setting.min_keeper_fee_usd]
defaultValue = "<%= parseEther('15') %>"

[setting.max_keeper_fee_usd]
defaultValue = "<%= parseEther('500') %>"

[setting.keeper_profit_margin_usd]
defaultValue = "<%= parseEther('20') %>"

[setting.keeper_profit_margin_percent]
defaultValue = "<%= parseEther('0.2') %>"

[setting.collateral_discount_scalar]
defaultValue = "<%= parseEther('1') %>"

[setting.min_collateral_discount]
defaultValue = "<%= parseEther('0.02') %>"

[setting.max_collateral_discount]
defaultValue = "<%= parseEther('0.2') %>"

[setting.utilization_breakpoint_percent]
defaultValue = "<%= parseEther('0.80') %>"

[setting.low_utilization_slope_percent]
defaultValue = "<%= parseEther('0.000025') %>"

[setting.high_utilization_slope_percent]
defaultValue = "<%= parseEther('0.01') %>"

# ETH market configurations
[setting.maker_fee]
defaultValue = "<%= parseEther('0.0001') %>"

[setting.taker_fee]
defaultValue = "<%= parseEther('0.0006') %>"

[setting.max_market_size]
defaultValue = "<%= parseEther(String(1000)) %>"

[setting.max_funding_velocity]
defaultValue = "<%= parseEther('3') %>"

[setting.skew_scale]
defaultValue = "<%= parseEther(String(1_000_000)) %>"

[setting.funding_velocity_clamp]
defaultValue = "<%= parseEther('0.0003') %>"

[setting.min_credit_percent]
defaultValue = "<%= parseEther('0.25') %>"

[setting.min_margin_usd]
defaultValue = "<%= parseEther('1000') %>"

[setting.min_margin_ratio]
defaultValue = "<%= parseEther('0.05') %>"

[setting.incremental_margin_scalar]
defaultValue = "<%= parseEther('1') %>"

[setting.maintenance_margin_scalar]
defaultValue = "<%= parseEther('0.5') %>"

[setting.max_initial_margin_ratio]
defaultValue = "<%= parseEther('0.9') %>"

[setting.liquidation_reward_percent]
defaultValue = "<%= parseEther('0.0001') %>"

[setting.liquidation_limit_scalar]
defaultValue = "<%= parseEther('1') %>"

[setting.liquidation_max_pd]
defaultValue = "<%= parseEther('0.0006') %>"

[setting.liquidation_window_duration]
defaultValue = "36"

# --- Provision bfp market --- #
#
#

[provision.bfp_market_factory]
source = "<%= settings.bfp_market_package %>"
targetPreset = "<%= settings.target_preset %>"
options.coreProxyOwner = "<%= settings.owner %>"
options.owner = "<%= settings.owner %>"
options.salt = "<%= settings.salt %>"
options.synthetixPackage = "<%= settings.snx_package %>@<%= settings.target_preset %>"
options.synthetixPreset = "<%= settings.target_preset %>"
depends = ["provision.system"]

# --- Provision fake collaterals --- #
#
#
# Create a mintable fake ETH for collateral
[provision.weth_mock_collateral]
source = "mintable-token:1.8"
options.name = "Fake wETH"
options.symbol = "fWETH"
options.owner = "<%= settings.owner %>"
options.decimals = "18"

# Set weth_address so that Core is configured with the fake wETH.
[setting.weth_address]
defaultValue = "<%= weth_mock_collateral.MintableToken.address %>"

# Create a mintable fake wBTC for collateral
[provision.wbtc_mock_collateral]
source = "mintable-token:1.8"
options.name = "Fake WBTC"
options.symbol = "fWBTC"
options.owner = "<%= settings.owner %>"
options.decimals = "18"

[invoke.OracleManger_registerNode_wbtc]
target = ["system.oracle_manager.Proxy"]
func = "registerNode"
args = [
    # 3 = chainlink aggregator type
    3,
    # 3 parameters are: address of the chainlink oracle
    "<%= defaultAbiCoder.encode(['address', 'uint256', 'uint8'], [settings.wbtc_aggregator_address, 0, 8]) %>",
    [
    ],
]
extra.wbtc_oracle_node_id.event = "NodeRegistered"
extra.wbtc_oracle_node_id.arg = 0
depends = ['provision.system', 'setting.wbtc_aggregator_address']

[setting.wbtc_address]
defaultValue = "<%= wbtc_mock_collateral.MintableToken.address %>"

# --- Configure bfp --- #
#
#

# --- Set pyth --- #
#
#

[invoke.BfpMarketProxy_setPyth]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "setPyth"
args = ["<%= settings.pyth_address %>"]

# --- Add Rewards distributors --- #
#
#

[invoke.BfpMarketProxy_createRewardDistributor_wbtc]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "createRewardDistributor"
extra.wbtc_rewards_distributor.event = "RewardDistributorCreated"
extra.wbtc_rewards_distributor.arg = 0

[[invoke.BfpMarketProxy_createRewardDistributor_wbtc.args]]
poolId = "<%= settings.sc_pool_id %>"
name = "wBTC RewardDistributor"
token = "<%= settings.wbtc_address %>"
collateralTypes = [
    "<%= settings.wbtc_address %>",
    "<%= settings.weth_address %>",
    "<%= settings.snx_address %>",
]

[invoke.BfpMarketProxy_createRewardDistributor_weth]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "createRewardDistributor"
extra.weth_rewards_distributor.event = "RewardDistributorCreated"
extra.weth_rewards_distributor.arg = 0

[[invoke.BfpMarketProxy_createRewardDistributor_weth.args]]
poolId = "<%= settings.sc_pool_id %>"
name = "weth RewardDistributor"
token = "<%= settings.weth_address %>"
collateralTypes = [
    "<%= settings.wbtc_address %>",
    "<%= settings.weth_address %>",
    "<%= settings.snx_address %>",
]

# --- Global Market configuration --- #
#
#

[invoke.BfpMarketProxy_setMarketConfiguration]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "setMarketConfiguration"

[[invoke.BfpMarketProxy_setMarketConfiguration.args]]
pythPublishTimeMin = 12
pythPublishTimeMax = 60
minOrderAge = 12
maxOrderAge = 60
minKeeperFeeUsd = "<%= settings.min_keeper_fee_usd %>"
maxKeeperFeeUsd = "<%= settings.max_keeper_fee_usd %>"
keeperProfitMarginUsd = "<%= settings.keeper_profit_margin_usd %>"
keeperProfitMarginPercent = "<%= settings.keeper_profit_margin_percent %>"
keeperSettlementGasUnits = 1200000
keeperCancellationGasUnits = 600000
keeperFlagGasUnits = 1200000
keeperLiquidateMarginGasUnits = 1200000
keeperLiquidationGasUnits = 1200000
keeperLiquidationEndorsed = "<%= settings.deployer %>"                          # TODO, this is currently deployer, change to a keeper
collateralDiscountScalar = "<%= settings.collateral_discount_scalar %>"
minCollateralDiscount = "<%= settings.min_collateral_discount %>"
maxCollateralDiscount = "<%= settings.max_collateral_discount %>"
utilizationBreakpointPercent = "<%= settings.utilization_breakpoint_percent %>"
lowUtilizationSlopePercent = "<%= settings.low_utilization_slope_percent  %>"
highUtilizationSlopePercent = "<%= settings.high_utilization_slope_percent %>"

# --- Set eth oracle node id --- #
#
#

[invoke.BfpMarketProxy_setEthOracleNodeId]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "setEthOracleNodeId"
args = ["<%= settings.eth_oracle_id %>"]

# --- Create Market --- #
#
#

[invoke.BfpMarketProxy_createMarket_eth]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = [{ name = "<%= formatBytes32String('ETHPERP') %>" }]
extra.eth_market_id.event = "MarketCreated"
extra.eth_market_id.arg = 0

# --- Set Specific BFP Market Configuration --- #
#
#

[invoke.BfpMarketProxy_setMarketConfigurationById_eth]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "setMarketConfigurationById"

[[invoke.BfpMarketProxy_setMarketConfigurationById_eth.args]]
marketId = "<%= settings.eth_market_id %>"
oracleNodeId = "<%= settings.eth_oracle_id %>"
pythPriceFeedId = "0xff61491a931112ddf1bd8147cd1b641375f79f5825126d665480874634fd0ace" # https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet"
makerFee = "<%= settings.maker_fee %>"
takerFee = "<%= settings.taker_fee %>"
maxMarketSize = "<%= settings.max_market_size %>"
maxFundingVelocity = "<%= settings.max_funding_velocity %>"
skewScale = "<%= settings.skew_scale %>"
fundingVelocityClamp = "<%= settings.funding_velocity_clamp %>"
minCreditPercent = "<%= settings.min_credit_percent %>"
minMarginUsd = "<%= settings.min_margin_usd %>"
minMarginRatio = "<%= settings.min_margin_ratio %>"
incrementalMarginScalar = "<%= settings.incremental_margin_scalar %>"
maintenanceMarginScalar = "<%= settings.maintenance_margin_scalar %>"
maxInitialMarginRatio = "<%= settings.max_initial_margin_ratio %>"
liquidationRewardPercent = "<%= settings.liquidation_reward_percent %>"
liquidationLimitScalar = "<%= settings.liquidation_limit_scalar %>"
liquidationWindowDuration = "<%= settings.liquidation_window_duration %>"
liquidationMaxPd = "<%= settings.liquidation_max_pd %>"

# --- Configure collateral for BFP --- #
#
#

[invoke.BfpMarketProxy_setMarginCollateralConfiguration]
target = ["bfp_market_factory.BfpMarketProxy"]
fromCall.func = "owner"
func = "setMarginCollateralConfiguration"
args = [
    [ # collateral addresses
        "<%= system.USDProxy.address %>",
        "<%= settings.weth_address %>",
        "<%= settings.wbtc_address %>",
    ],
    [ # oracle node ids
        "<%= imports.system.settings.const_one_oracle_id %>",
        "<%= settings.eth_oracle_id %>",
        "<%= settings.wbtc_oracle_node_id %>",
    ],
    [ # maxAllowances
        "<%= settings.susd_max_collateral %>",
        "<%= settings.weth_max_collateral %>",
        "<%= settings.wbtc_max_collateral %>",
    ],
    [ # skew_scales
        "<%= settings.susd_skew_scale %>",
        "<%= settings.weth_skew_scale %>",
        "<%= settings.wbtc_skew_scale %>",
    ],
    [ # rewardDistributors
        "0x0000000000000000000000000000000000000000",
        "<%= settings.weth_rewards_distributor %>",
        "<%= settings.wbtc_rewards_distributor %>",
    ],
]

# --- Configure Core --- #
#
#

# Add all perp market collateral as core collateral.
# ETH and SNX have already been added from imports.
#
#

[invoke.CoreProxy_configureCollateral]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "configureCollateral"

[[invoke.CoreProxy_configureCollateral.args]]
tokenAddress = "<%= settings.wbtc_address %>"
oracleNodeId = "<%= settings.wbtc_oracle_node_id %>"
issuanceRatioD18 = "<%= settings.wbtc_issuance_ratio_d18 %>"
liquidationRatioD18 = "<%= settings.wbtc_liquidation_ratio_d18 %>"
liquidationRewardD18 = "<%= settings.wbtc_liquidation_reward_d18 %>"
minDelegationD18 = "<%= settings.wbtc_min_delegation_d18 %>"
depositingEnabled = false

# --- Configure maximum market collateral in Core --- #
#
#

[invoke.CoreProxy_configureMaximumMarketCollateral_weth]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "configureMaximumMarketCollateral"
args = [
    "<%= settings.eth_market_id %>",
    "<%= settings.weth_address %>",
    "<%= settings.weth_max_pool_collateral %>",
]

[invoke.CoreProxy_configureMaximumMarketCollateral_wbtc]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "configureMaximumMarketCollateral"
args = [
    "<%= settings.eth_market_id %>",
    "<%= settings.wbtc_address %>",
    "<%= settings.wbtc_max_pool_collateral %>",
]

# --- Register Reward Distributors with Core --- #
#
#

[invoke.CoreProxy_registerRewardsDistributor_wbtc]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= settings.wbtc_address %>",
    "<%= settings.wbtc_rewards_distributor %>",
]

[invoke.CoreProxy_registerRewardsDistributor_weth]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= settings.weth_address %>",
    "<%= settings.weth_rewards_distributor %>",
]

# --- Configure SC pool after market creation--- #
#
#

[invoke.CoreProxy_setPoolConfiguration]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= settings.eth_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]
