name = "synthetix-omnibus"
version = "5"
description = "Andromeda dev deployment"
preset = "andromeda"
include = [
    "tomls/core.toml",                                              # Provision the core system
    "tomls/settings.toml",                                          # Apply minimum liquidity ratio and withdrawal timeout
    "tomls/permissions.toml",                                       # Allow deployer to create pools
    "tomls/permit-deniers.toml",                                    # Add feature flag deniers to perps and core systems
    "tomls/pools/spartan-council.toml",                             # Create Spartan Council Pool
    "tomls/markets/spot-factory.toml",
    "tomls/markets/perps-factory.toml",
    "tomls/omnibus-base-sepolia-andromeda/spot/usdc.toml",          # sUSDC spot market/wrapper, mock for USDC
    "tomls/permit-all-perps-perpsSystem.toml",                      # Enable perps market
    "tomls/omnibus-base-sepolia-andromeda/perps/referrers.toml",
    "tomls/omnibus-base-sepolia-andromeda/perps/global.toml",       # Global perps settings
    "tomls/oracles/perps-keeper-cost.toml",                         # Add gas oracle for keeper fees
    "tomls/omnibus-base-sepolia-andromeda/perps/feeCollector.toml",
    # Collaterals
    "tomls/omnibus-base-sepolia-andromeda/collaterals/susdc.toml",
    "tomls/collaterals/susdc.toml",
    # BTC
    "tomls/omnibus-base-sepolia-andromeda/perps/btc-invokes.toml",
    "tomls/oracles/pyth-btc.toml",
    "tomls/omnibus-base-sepolia-andromeda/perps/btc.toml",
    # ETH
    "tomls/omnibus-base-sepolia-andromeda/perps/eth-invokes.toml",
    "tomls/oracles/pyth-eth.toml",
    "tomls/omnibus-base-sepolia-andromeda/perps/eth.toml",
]

[setting.commitmentPriceDelay]
defaultValue = "2"

[setting.bigCapSettlementDelay]
defaultValue = "2"

[setting.snx_package]
defaultValue = "synthetix:3.3.15"

[setting.perps_keeper_cost_package]
defaultValue = "op-gas-price-oracle:3.3.15"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.15"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.17"

[setting.buyback_snx_package]
defaultValue = "buyback-snx:3.3.14" # Do not update! This package isn't upgradeable. A version change will deploy a new contract.

[setting.salt]
defaultValue = "andromeda-dev"

[setting.target_preset]
defaultValue = "andromeda" # Preset assigned to provisioned packages

[setting.pyth_price_verification_address]
# https://docs.pyth.network/documentation/pythnet-price-feeds/evm
defaultValue = "0xA2aa501b19aff244D90cc15a4Cf739D2725B5729"

[provision.pyth_erc7412_wrapper]
source = "pyth-erc7412-wrapper:3.3.15"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.pythAddress = "<%= settings.pyth_price_verification_address %>"

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('1.25') %>" # 125% min market collateralization

[setting.account_timeout_withdraw]
defaultValue = "86400" # 1 day

[setting.sc_pool_id]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[invoke.setScPoolConfig]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= settings.sc_pool_id %>",
    [
        { marketId = "<%= imports.perpsFactory.extras.superMarketId %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[provision.spartan_council_pool_rewards]
source = "synthetix-rewards-distributor:0.0.2"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.rewardManager = "<%= imports.system.contracts.CoreProxy.address %>"
options.poolId = "<%= settings.sc_pool_id %>"
options.collateralType = "<%= extras.synth_usdc_token_address %>"
options.payoutToken = "<%= imports.snx_mock_collateral.contracts.MintableToken.address %>"
options.payoutTokenDecimals = "18"
options.name = "Spartan Council Pool Rewards"

[invoke.register_spartan_council_pool_rewards]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= extras.synth_usdc_token_address %>",
    "<%= imports.spartan_council_pool_rewards.contracts.RewardsDistributor.address %>",
]
