name = "synthetix-omnibus"
version = "3"
description = "Arbitrum deployment"
preset = "main"
include = [
    "tomls/core.toml",
    "tomls/markets/spot-factory.toml",
    "tomls/markets/perps-factory.toml",
    "tomls/permit-deniers.toml",

    "tomls/omnibus-arbitrum-sepolia/permissions.toml",
    "tomls/omnibus-arbitrum-sepolia/pools/spartan-council.toml",

    # USDC
    "tomls/oracles/pyth-usdc.toml",
    "tomls/omnibus-arbitrum-sepolia/spot/usdc.toml",
    "tomls/omnibus-arbitrum-sepolia/collaterals/usdc.toml",

    # DAI
    "tomls/oracles/pyth-dai.toml",
    "tomls/omnibus-arbitrum-sepolia/spot/dai.toml",
    "tomls/omnibus-arbitrum-sepolia/collaterals/dai.toml",

    # ARB
    "tomls/omnibus-arbitrum-sepolia/oracles/pyth-arb.toml",
    "tomls/omnibus-arbitrum-sepolia/collaterals/arb.toml",

    # WETH
    "tomls/omnibus-arbitrum-sepolia/oracles/pyth-eth.toml",
    "tomls/omnibus-arbitrum-sepolia/collaterals/weth.toml",
]

[setting.snx_package]
defaultValue = "synthetix:3.3.15"

[setting.perps_keeper_cost_package]
defaultValue = "arbitrum-gas-price-oracle:3.3.16"

[setting.spot_market_package]
defaultValue = "synthetix-spot-market:3.3.15"

[setting.perps_market_package]
defaultValue = "synthetix-perps-market:3.3.19"

[setting.buyback_snx_package]
defaultValue = "buyback-snx:3.3.15"
description = "Do not update! This package isn't upgradeable. A version change will deploy a new contract."

[setting.pyth_price_verification_address]
defaultValue = "0x4374e5a8b9C22271E9EB878A2AA31DE97DF15DAF"
description = "https://docs.pyth.network/documentation/pythnet-price-feeds/evm"

[setting.pyth_feed_url]
defaultValue = "https://api.synthetix.io/pyth-mainnet/api/get_vaa_ccip?data={data}"
description = "Pyth settlement strategy config"

[provision.pyth_erc7412_wrapper]
source = "pyth-erc7412-wrapper:3.3.15"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.pythAddress = "<%= settings.pyth_price_verification_address %>"

[setting.owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.deployer]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.minimum_liquidity_ratio]
defaultValue = "<%= parseEther('2.00') %>"
description = "200% min market collateralization"

[invoke.CoreProxy_setMinLiquidityRatio]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "setMinLiquidityRatio(uint256)"
args = ["<%= settings.minimum_liquidity_ratio %>"]

[setting.account_withdraw_timeout]
defaultValue = "<%= hexZeroPad(hexlify(parseInt(1 * 24 * 3600)), 32) %>"

[invoke.CoreProxy_setConfig_accountTimeoutWithdraw]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "setConfig"
args = [
    "<%= formatBytes32String('accountTimeoutWithdraw') %>",
    "<%= settings.account_withdraw_timeout %>",
]

[setting.spartan_council_pool_id_setting]
defaultValue = "1"

[setting.pool_owner]
defaultValue = "0x48914229deDd5A9922f44441ffCCfC2Cb7856Ee9"

[setting.big_cap_default_staleness_tolerance]
defaultValue = "3600"

[setting.big_cap_settlement_window_duration]
defaultValue = "60"

[setting.big_cap_settlement_delay]
defaultValue = "2"

[setting.settlement_reward]
defaultValue = "<%= parseEther('0.5') %>"

[setting.settlement_minimum_usd_exchange_amount]
defaultValue = "<%= parseEther('0.000001') %>"

[setting.settlement_max_rounding_loss]
defaultValue = "<%= parseEther('0.000001') %>"

[setting.price_deviation_tolerance]
defaultValue = "<%= parseEther('1') %>"

[setting.usdc_staleness_tolerance]
defaultValue = "<%= String(1 * 3600) %>"
description = "1 hour"

[setting.dai_staleness_tolerance]
defaultValue = "<%= String(1 * 3600) %>"
description = "1 hour"

[setting.usdc_address]
defaultValue = "0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d"
description = "https://developers.circle.com/stablecoins/docs/usdc-on-test-networks"

[setting.pyth_feed_id_usdc]
defaultValue = "0xeaa020c61cc479712813461ce153894a96a6c00b21ed0cfc2798d1f9a9e9c94a"
description = "https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet"

[setting.synth_usdc_max_market_collateral]
defaultValue = "<%= parseEther(String(500_000)) %>"

[setting.dai_address]
defaultValue = "0x"
description = "Using mock for testnet"

[setting.pyth_feed_id_dai]
defaultValue = "0xb0948a5e5313200c632b51bb5ca32f6de0d36e9950a942d19751e833f70dabfd"
description = "https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet"

[setting.synth_dai_max_market_collateral]
defaultValue = "<%= parseEther(String(500_000)) %>"

[setting.weth_address]
defaultValue = "0x980B62Da83eFf3D4576C647993b0c1D7faf17c73"
description = "https://docs.arbitrum.io/build-decentralized-apps/reference/useful-addresses#core-contracts-1"

[setting.pyth_feed_id_eth]
defaultValue = "0xff61491a931112ddf1bd8147cd1b641375f79f5825126d665480874634fd0ace"
description = "https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet"

[setting.arb_address]
defaultValue = "0x"
description = "Using mock for testnet"

[setting.pyth_feed_id_arb]
defaultValue = "0x3fa4252848f9f0a1480be62745a4629d9eb1322aebab8a791e344b3b9c1adcf5"
description = "https://pyth.network/developers/price-feed-ids#pyth-evm-mainnet"

[provision.dai_mock_collateral]
source = "mintable-token:1.8"
target = "synthetix-mock-tokens:1.8@dai"
options.name = "Fake DAI Coin"
options.symbol = "fDAI"
options.owner = "<%= settings.owner %>"
options.decimals = "18"

[provision.arb_mock_collateral]
source = "mintable-token:1.8"
target = "synthetix-mock-tokens:1.8@arb"
options.name = "Fake ARB Coin"
options.symbol = "fARB"
options.owner = "<%= settings.owner %>"
options.decimals = "18"

[invoke.CoreProxy_setPoolConfiguration_SpartanCouncil]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= extras.spartan_council_pool_id %>"]
func = "setPoolConfiguration"
args = [
    "<%= extras.spartan_council_pool_id %>",
    [
        { marketId = "<%= extras.synth_dai_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= extras.synth_usdc_market_id %>", weightD18 = 1, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
        { marketId = "<%= imports.perpsFactory.settings.superMarketId %>", weightD18 = 98, maxDebtShareValueD18 = "<%= parseEther('1') %>" },
    ],
]

[invoke.CoreProxy_initOrUpgradeToken_DollarWifHat]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "initOrUpgradeToken"
args = [
    "0x555344546f6b656e000000000000000000000000000000000000000000000000",
    "DollarWifHat",
    "USDh",
    18,
    "<%= imports.system.contracts.USDRouter.address %>",
]
