[provision.sccp_313_spartan_council_pool_usdc_rewards]
source = "synthetix-rewards-distributor:0.0.2"
targetPreset = "<%= settings.target_preset %>"
options.salt = "<%= settings.salt %>"
options.rewardManager = "<%= imports.system.contracts.CoreProxy.address %>"
options.poolId = "<%= settings.sc_pool_id %>"
options.collateralType = "<%= extras.synth_usdc_token_address %>"
options.payoutToken = "<%= settings.usdc_address %>"
options.payoutTokenDecimals = "6"
options.name = "Spartan Council Pool USDC Rewards"

[invoke.sccp_313_register_spartan_council_pool_usdc_rewards]
target = ["system.CoreProxy"]
fromCall.func = "getPoolOwner"
fromCall.args = ["<%= settings.sc_pool_id %>"]
func = "registerRewardsDistributor"
args = [
    "<%= settings.sc_pool_id %>",
    "<%= extras.synth_usdc_token_address %>",
    "<%= imports.sccp_313_spartan_council_pool_usdc_rewards.contracts.RewardsDistributor.address %>",
]
