# This initializes a sStataUSDC synth per SIP-377 and SCCP-330 for testnet
# It wraps/unwraps stataUSDC to sStataUSDC 1:1 and buys/sells to sUSD based on the stataUSDC/USDC ratio (because this deployment is denominated in USDC)
# All exchanges are atomic. The stataUSDC/USDC ratio can be determined via the Erc4626ToAssetsRatioOracle, which calls convertToAssets per ERC-4626
# On testnet, we use imports.erc_4626_to_assets_ratio_oracle.contracts.ERC20Mock.address as aUSDC and
# imports.erc_4626_to_assets_ratio_oracle.contracts.ERC4626Mock.address as stataUSDC

[setting.synthStataUsdcMaxMarketCollateral]
defaultValue = "<%= parseEther(String(5_000_000)) %>"

[setting.spotStrictStalenessTolerance]
defaultValue = "60"

[invoke.SpotMarketProxy_createSynth_stataUSDC]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "owner"
func = "createSynth"
args = ["Synthetic Static aUSDC", "sStataUSDC", "<%= settings.owner %>"]
extra.synth_stata_usdc_market_id.event = "SynthRegistered"
extra.synth_stata_usdc_market_id.arg = 0
extra.synth_stata_usdc_token_address.event = "SynthRegistered"
extra.synth_stata_usdc_token_address.arg = 1

[invoke.SpotMarketProxy_updatePriceData_stataUSDC]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_stata_usdc_market_id %>"]
func = "updatePriceData"
args = [
    "<%= extras.synth_stata_usdc_market_id %>",
    "<%= extras.erc_4626_to_assets_ratio_oracle_id %>",
    "<%= extras.erc_4626_to_assets_ratio_oracle_id %>",
    "<%= settings.spotStrictStalenessTolerance %>",     # Effectively unused, as this oracle node will never return something stale
]

[invoke.CoreProxy_configureMaximumMarketCollateral_stataUSDC]
target = ["system.CoreProxy"]
fromCall.func = "owner"
fromCall.args = []
func = "configureMaximumMarketCollateral"
args = [
    "<%= extras.synth_stata_usdc_market_id %>",
    "<%= imports.erc_4626_to_assets_ratio_oracle.contracts.ERC4626Mock.address %>",
    "<%= settings.synthStataUsdcMaxMarketCollateral %>",
]

[invoke.SpotMarketProxy_setWrapper_stataUSDC]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_stata_usdc_market_id %>"]
func = "setWrapper"
args = [
    "<%= extras.synth_stata_usdc_market_id %>",
    "<%= imports.erc_4626_to_assets_ratio_oracle.contracts.ERC4626Mock.address %>",
    "<%= settings.synthStataUsdcMaxMarketCollateral %>",
]

[invoke.CoreProxy_configureCollateral_stataUSDC]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "configureCollateral"                                            # "args" see below in the multiline block
depends = ['provision.system', 'clone.erc_4626_to_assets_ratio_oracle']

# We allow stataUSDC as collateral with depositingEnabled = false so the spot market can deposit it, but it can't be LPed
# Users deposit/delegate sStataUSDC
[[invoke.CoreProxy_configureCollateral_stataUSDC.args]]
tokenAddress = "<%= imports.erc_4626_to_assets_ratio_oracle.contracts.ERC4626Mock.address %>"
oracleNodeId = "<%= extras.erc_4626_to_assets_ratio_oracle_id %>"
issuanceRatioD18 = "<%= MaxUint256 %>"
liquidationRatioD18 = "<%= parseEther('1.1') %>"
liquidationRewardD18 = "<%= parseEther('0.005') %>"
minDelegationD18 = "<%= parseEther('100') %>"
depositingEnabled = false
