[invoke.allowAllTransferCrossChain]
target = ["system.CoreProxy"]
fromCall.func = "owner"
func = "setFeatureFlagAllowAll"
args = [
    "<%= formatBytes32String('transferCrossChain') %>",
    true,
]
depends=["provision.system"]
