[var.perps_market_settings_BTC]
btc_perps_market_id = "200"
btc_perps_market_skew_scale = "<%= parseEther(String(35_000)) %>"
btc_perps_market_max_funding_velocity = "<%= parseEther('4') %>"
btc_perps_maker_fee_ratio = "<%= parseEther('0') %>"
btc_perps_taker_fee_ratio = "<%= parseEther('0.0005') %>"
btc_perps_max_market_size = "<%= parseEther(String(1_200)) %>"
btc_perps_max_market_value = "<%= parseEther(String(50_000_000)) %>"
btc_perps_initial_margin_ratio = "<%= parseEther('1.07') %>"
btc_perps_maintenance_margin_scalar = "<%= parseEther('0.333') %>"
btc_perps_minimum_initial_margin_ratio = "<%= parseEther('0.02') %>"
btc_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
btc_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
btc_perps_max_seconds_in_liquidation_window = "30"
btc_perps_minimum_position_margin = "<%= parseEther('50') %>"
btc_perps_locked_oi_ratio = "<%= parseEther('0.25') %>"
btc_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
btc_perps_endorsed_liquidator = "0x95A61Fa7454CA5f6A3CE01724e306Cd14a22D306"

[invoke.PerpsMarketProxy_createMarket_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
from = "<%= settings.pdao %>"
func = "createMarket"
args = ["<%= settings.btc_perps_market_id %>", "Bitcoin", "BTC"]
depends = ["invoke.PerpsMarketProxy_addToFeatureFlagAllowlist_createMarket_pdao"]

[invoke.PerpsMarketProxy_updatePriceData_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= extras.real_btc_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

# DO NOT MODIFY THIS STEP!. Edit [invoke.PerpsMarketProxy_setSettlementStrategy_BTC] instead.
[invoke.PerpsMarketProxy_addSettlementStrategy_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [
    "<%= settings.btc_perps_market_id %>",
    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.btc_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.btc_pyth_settlement_strategy.arg = 2

[invoke.PerpsMarketProxy_setSettlementStrategy_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= extras.btc_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_btc %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.PerpsMarketProxy_setFundingParameters_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= settings.btc_perps_market_skew_scale %>",
    "<%= settings.btc_perps_market_max_funding_velocity %>",
]

[invoke.PerpsMarketProxy_setOrderFees_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= settings.btc_perps_maker_fee_ratio %>",
    "<%= settings.btc_perps_taker_fee_ratio %>",
]

[invoke.PerpsMarketProxy_setMaxMarketSize_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.btc_perps_market_id %>", "<%= settings.btc_perps_max_market_size %>"]

[invoke.PerpsMarketProxy_setMaxMarketValue_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.btc_perps_market_id %>", "<%= settings.btc_perps_max_market_value %>"]

[invoke.PerpsMarketProxy_setMaxLiquidationParameters_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= settings.btc_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.btc_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.btc_perps_max_liquidation_pd %>",
    "<%= settings.btc_perps_endorsed_liquidator %>",
]

[invoke.PerpsMarketProxy_setLiquidationParameters_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.btc_perps_market_id %>",
    "<%= settings.btc_perps_initial_margin_ratio %>",
    "<%= settings.btc_perps_minimum_initial_margin_ratio %>",
    "<%= settings.btc_perps_maintenance_margin_scalar %>",
    "<%= settings.btc_perps_flag_reward_ratio_d18 %>",
    "<%= settings.btc_perps_minimum_position_margin %>",
]

[invoke.PerpsMarketProxy_setLockedOiRatio_BTC]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.btc_perps_market_id %>", "<%= settings.btc_perps_locked_oi_ratio %>"]
