[var.perps_sol_market_settings]
sol_perps_market_id = "300"
sol_perps_market_skew_scale = "<%= String(1_406_250) %>"
sol_perps_market_max_funding_velocity = "9"
sol_perps_maker_fee_ratio = "0"
sol_perps_taker_fee_ratio = "0.0008"
sol_perps_max_market_size = "<%= String(270_000) %>"
sol_perps_max_market_value = "<%= String(40_000_000) %>"
sol_perps_initial_margin_ratio = "5.503"
sol_perps_maintenance_margin_scalar = "0.333"
sol_perps_minimum_initial_margin_ratio = "0.02"
sol_perps_flag_reward_ratio_d18 = "0.0003"
sol_perps_max_liquidation_limit_accumulation_multiplier = "1.5"
sol_perps_max_seconds_in_liquidation_window = "30"
sol_perps_minimum_position_margin = "50"
sol_perps_locked_oi_ratio = "0.50"
sol_perps_max_liquidation_pd = "0.0005"
sol_perps_endorsed_liquidator = "0x95A61Fa7454CA5f6A3CE01724e306Cd14a22D306"

[invoke.PerpsMarketProxy_PerpsMarketProxy_createMarket_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
from = "<%= settings.pdao %>"
func = "createMarket"
args = ["<%= settings.sol_perps_market_id %>", "Solana", "SOL"]
depends = ["invoke.PerpsMarketProxy_addToFeatureFlagAllowlist_createMarket_pdao"]

[invoke.setPerpsPriceSol]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= extras.sol_oracle_id %>",
    "<%= settings.big_cap_strict_staleness_tolerance %>",
]

# DO NOT MODIFY THIS STEP!. Edit [invoke.setPerpsSolSettlementStrategy] instead.
[invoke.addPerpsSolSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [
    "<%= settings.sol_perps_market_id %>",
    { strategyType = "0", settlementDelay = "<%= settings.big_cap_settlement_delay %>", settlementWindowDuration = "<%= settings.big_cap_settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_sol %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]
extra.sol_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.sol_pyth_settlement_strategy.arg = 2

[invoke.setPerpsSolSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= extras.sol_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.big_cap_settlement_delay %>", settlementWindowDuration = "<%= settings.big_cap_settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_sol %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsSolFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_market_skew_scale) %>",
    "<%= parseEther(settings.sol_perps_market_max_funding_velocity) %>",
]

[invoke.setPerpsSolOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_maker_fee_ratio) %>",
    "<%= parseEther(settings.sol_perps_taker_fee_ratio) %>",
]

[invoke.setPerpsSolMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_max_market_size) %>",
]

[invoke.setPerpsSolMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_max_market_value) %>",
]

[invoke.setPerpsSolMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_max_liquidation_limit_accumulation_multiplier) %>",
    "<%= settings.sol_perps_max_seconds_in_liquidation_window %>",
    "<%= parseEther(settings.sol_perps_max_liquidation_pd) %>",
    "<%= settings.sol_perps_endorsed_liquidator %>",
]

[invoke.setPerpsSolLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_initial_margin_ratio) %>",
    "<%= parseEther(settings.sol_perps_minimum_initial_margin_ratio) %>",
    "<%= parseEther(settings.sol_perps_maintenance_margin_scalar) %>",
    "<%= parseEther(settings.sol_perps_flag_reward_ratio_d18) %>",
    "<%= parseEther(settings.sol_perps_minimum_position_margin) %>",
]

[invoke.setPerpsSolLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= parseEther(settings.sol_perps_locked_oi_ratio) %>",
]
