[var.perps_market_settings_SOL]
sol_perps_market_id = "300"
sol_perps_market_skew_scale = "<%= parseEther(String(1_406_250)) %>"
sol_perps_market_max_funding_velocity = "<%= parseEther('9') %>"
sol_perps_maker_fee_ratio = "<%= parseEther('0') %>"
sol_perps_taker_fee_ratio = "<%= parseEther('0.0005') %>"
sol_perps_max_market_size = "<%= parseEther(String(270_000)) %>"
sol_perps_max_market_value = "<%= parseEther(String(40_000_000)) %>"
sol_perps_initial_margin_ratio = "<%= parseEther('5.503') %>"
sol_perps_maintenance_margin_scalar = "<%= parseEther('0.333') %>"
sol_perps_minimum_initial_margin_ratio = "<%= parseEther('0.02') %>"
sol_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
sol_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
sol_perps_max_seconds_in_liquidation_window = "30"
sol_perps_minimum_position_margin = "<%= parseEther('50') %>"
sol_perps_locked_oi_ratio = "<%= parseEther('0.50') %>"
sol_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
sol_perps_endorsed_liquidator = "0x95A61Fa7454CA5f6A3CE01724e306Cd14a22D306"

[invoke.PerpsMarketProxy_createMarket_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
from = "<%= settings.pdao %>"
func = "createMarket"
args = ["<%= settings.sol_perps_market_id %>", "Solana", "SOL"]
depends = ["invoke.PerpsMarketProxy_addToFeatureFlagAllowlist_createMarket_pdao"]

[invoke.PerpsMarketProxy_updatePriceData_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= extras.sol_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

# DO NOT MODIFY THIS STEP!. Edit [invoke.PerpsMarketProxy_setSettlementStrategy_SOL] instead.
[invoke.PerpsMarketProxy_addSettlementStrategy_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [
    "<%= settings.sol_perps_market_id %>",
    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.sol_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.sol_pyth_settlement_strategy.arg = 2

[invoke.PerpsMarketProxy_setSettlementStrategy_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= extras.sol_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_sol %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.PerpsMarketProxy_setFundingParameters_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= settings.sol_perps_market_skew_scale %>",
    "<%= settings.sol_perps_market_max_funding_velocity %>",
]

[invoke.PerpsMarketProxy_setOrderFees_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= settings.sol_perps_maker_fee_ratio %>",
    "<%= settings.sol_perps_taker_fee_ratio %>",
]

[invoke.PerpsMarketProxy_setMaxMarketSize_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.sol_perps_market_id %>", "<%= settings.sol_perps_max_market_size %>"]

[invoke.PerpsMarketProxy_setMaxMarketValue_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.sol_perps_market_id %>", "<%= settings.sol_perps_max_market_value %>"]
[invoke.PerpsMarketProxy_setMaxLiquidationParameters_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= settings.sol_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.sol_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.sol_perps_max_liquidation_pd %>",
    "<%= settings.sol_perps_endorsed_liquidator %>",
]

[invoke.PerpsMarketProxy_setLiquidationParameters_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.sol_perps_market_id %>",
    "<%= settings.sol_perps_initial_margin_ratio %>",
    "<%= settings.sol_perps_minimum_initial_margin_ratio %>",
    "<%= settings.sol_perps_maintenance_margin_scalar %>",
    "<%= settings.sol_perps_flag_reward_ratio_d18 %>",
    "<%= settings.sol_perps_minimum_position_margin %>",
]

[invoke.PerpsMarketProxy_setLockedOiRatio_SOL]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.sol_perps_market_id %>", "<%= settings.sol_perps_locked_oi_ratio %>"]
