[var.perps_chillguy_market_settings]
chillguy_perps_market_id = "9300"
chillguy_perps_market_skew_scale = "<%= parseEther(String(24_005_300)) %>"
chillguy_perps_market_max_funding_velocity = "<%= parseEther('36') %>"
chillguy_perps_maker_fee_ratio = "<%= parseEther('0.0002') %>"
chillguy_perps_taker_fee_ratio = "<%= parseEther('0.0010') %>"
chillguy_perps_max_market_size = "<%= parseEther(String(6_000_000)) %>"
chillguy_perps_max_market_value = "<%= parseEther(String(2_000_000)) %>"
chillguy_perps_initial_margin_ratio = "<%= parseEther('1.36') %>"
chillguy_perps_maintenance_margin_scalar = "<%= parseEther('0.317') %>"
chillguy_perps_minimum_initial_margin_ratio = "<%= parseEther('0.05') %>"
chillguy_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
chillguy_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
chillguy_perps_max_seconds_in_liquidation_window = "30"
chillguy_perps_minimum_position_margin = "<%= parseEther('15') %>"
chillguy_perps_locked_oi_ratio = "<%= parseEther('0.10') %>"
chillguy_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
chillguy_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createChillguyPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.chillguy_perps_market_id %>", "Just a chill guy", "CHILLGUY"]

[invoke.setPerpsPriceChillguy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= extras.chillguy_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsChillguySettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.chillguy_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.chillguy_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.chillguy_pyth_settlement_strategy.arg = 2
[invoke.setPerpsChillguySettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= extras.chillguy_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_chillguy %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsChillguyFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_market_skew_scale %>",
    "<%= settings.chillguy_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsChillguyOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_maker_fee_ratio %>",
    "<%= settings.chillguy_perps_taker_fee_ratio %>",
]

[invoke.setPerpsChillguyMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_max_market_size %>",
]

[invoke.setPerpsChillguyMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_max_market_value %>",
]

[invoke.setPerpsChillguyMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.chillguy_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.chillguy_perps_max_liquidation_pd %>",
    "<%= settings.chillguy_perps_endorsed_liquidator %>",
]

[invoke.setPerpsChillguyLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_initial_margin_ratio %>",
    "<%= settings.chillguy_perps_minimum_initial_margin_ratio %>",
    "<%= settings.chillguy_perps_maintenance_margin_scalar %>",
    "<%= settings.chillguy_perps_flag_reward_ratio_d18 %>",
    "<%= settings.chillguy_perps_minimum_position_margin %>",
]

[invoke.setPerpsChillguyLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = [
    "<%= settings.chillguy_perps_market_id %>",
    "<%= settings.chillguy_perps_locked_oi_ratio %>",
]
