[var.perps_comp_market_settings]
comp_perps_market_id = "4200"
comp_perps_market_skew_scale = "<%= parseEther(String(241_876)) %>"
comp_perps_market_max_funding_velocity = "<%= parseEther('9') %>"
comp_perps_maker_fee_ratio = "<%= parseEther('0.000200') %>"
comp_perps_taker_fee_ratio = "<%= parseEther('0.001000') %>"
comp_perps_max_market_size = "<%= parseEther(String(17_000)) %>"
comp_perps_max_market_value = "<%= parseEther(String(500_000)) %>"
comp_perps_initial_margin_ratio = "<%= parseEther('1.8') %>"
comp_perps_maintenance_margin_scalar = "<%= parseEther('0.41') %>"
comp_perps_minimum_initial_margin_ratio = "<%= parseEther('0.05') %>"
comp_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
comp_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
comp_perps_max_seconds_in_liquidation_window = "30"
comp_perps_minimum_position_margin = "<%= parseEther('50') %>"
comp_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
comp_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
comp_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createCompPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.comp_perps_market_id %>", "Compound", "COMP"]

[invoke.setPerpsPriceComp]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= extras.comp_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsCompSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.comp_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.comp_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.comp_pyth_settlement_strategy.arg = 2
[invoke.setPerpsCompSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= extras.comp_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_comp %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsCompFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= settings.comp_perps_market_skew_scale %>",
    "<%= settings.comp_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsCompOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= settings.comp_perps_maker_fee_ratio %>",
    "<%= settings.comp_perps_taker_fee_ratio %>",
]

[invoke.setPerpsCompMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.comp_perps_market_id %>", "<%= settings.comp_perps_max_market_size %>"]

[invoke.setPerpsCompMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.comp_perps_market_id %>", "<%= settings.comp_perps_max_market_value %>"]

[invoke.setPerpsCompMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= settings.comp_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.comp_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.comp_perps_max_liquidation_pd %>",
    "<%= settings.comp_perps_endorsed_liquidator %>",
]

[invoke.setPerpsCompLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.comp_perps_market_id %>",
    "<%= settings.comp_perps_initial_margin_ratio %>",
    "<%= settings.comp_perps_minimum_initial_margin_ratio %>",
    "<%= settings.comp_perps_maintenance_margin_scalar %>",
    "<%= settings.comp_perps_flag_reward_ratio_d18 %>",
    "<%= settings.comp_perps_minimum_position_margin %>",
]

[invoke.setPerpsCompLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.comp_perps_market_id %>", "<%= settings.comp_perps_locked_oi_ratio %>"]
