[var.perps_mew_market_settings]
mew_perps_market_id = "7500"
mew_perps_market_skew_scale = "<%= parseEther(String(2_500_000_000)) %>"
mew_perps_market_max_funding_velocity = "<%= parseEther('9') %>"
mew_perps_maker_fee_ratio = "<%= parseEther('0.000000') %>"
mew_perps_taker_fee_ratio = "<%= parseEther('0.001000') %>"
mew_perps_max_market_size = "<%= parseEther(String(123_319_770)) %>"
mew_perps_max_market_value = "<%= parseEther(String(1_000_000)) %>"
mew_perps_initial_margin_ratio = "<%= parseEther('1.597') %>"
mew_perps_maintenance_margin_scalar = "<%= parseEther('0.328') %>"
mew_perps_minimum_initial_margin_ratio = "<%= parseEther('0.05') %>"
mew_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
mew_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
mew_perps_max_seconds_in_liquidation_window = "30"
mew_perps_minimum_position_margin = "<%= parseEther('50') %>"
mew_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
mew_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
mew_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createMewPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.mew_perps_market_id %>", "Cat in a dogs world", "MEW"]

[invoke.setPerpsPriceMew]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= extras.mew_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsMewSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.mew_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.mew_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.mew_pyth_settlement_strategy.arg = 2
[invoke.setPerpsMewSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= extras.mew_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_mew %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsMewFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= settings.mew_perps_market_skew_scale %>",
    "<%= settings.mew_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsMewOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= settings.mew_perps_maker_fee_ratio %>",
    "<%= settings.mew_perps_taker_fee_ratio %>",
]

[invoke.setPerpsMewMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.mew_perps_market_id %>", "<%= settings.mew_perps_max_market_size %>"]

[invoke.setPerpsMewMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.mew_perps_market_id %>", "<%= settings.mew_perps_max_market_value %>"]

[invoke.setPerpsMewMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= settings.mew_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.mew_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.mew_perps_max_liquidation_pd %>",
    "<%= settings.mew_perps_endorsed_liquidator %>",
]

[invoke.setPerpsMewLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.mew_perps_market_id %>",
    "<%= settings.mew_perps_initial_margin_ratio %>",
    "<%= settings.mew_perps_minimum_initial_margin_ratio %>",
    "<%= settings.mew_perps_maintenance_margin_scalar %>",
    "<%= settings.mew_perps_flag_reward_ratio_d18 %>",
    "<%= settings.mew_perps_minimum_position_margin %>",
]

[invoke.setPerpsMewLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.mew_perps_market_id %>", "<%= settings.mew_perps_locked_oi_ratio %>"]
