[var.perps_pepe_market_settings]
pepe_perps_market_id = "1200"
pepe_perps_market_skew_scale = "<%= parseEther(String(8_400_000_000_000)) %>"
pepe_perps_market_max_funding_velocity = "<%= parseEther('36') %>"
pepe_perps_maker_fee_ratio = "<%= parseEther('0.000200') %>"
pepe_perps_taker_fee_ratio = "<%= parseEther('0.001000') %>"
pepe_perps_max_market_size = "<%= parseEther(String(360_000_000_000)) %>"
pepe_perps_max_market_value = "<%= parseEther(String(1_500_000)) %>"
pepe_perps_initial_margin_ratio = "<%= parseEther('4.88') %>"
pepe_perps_maintenance_margin_scalar = "<%= parseEther('0.43') %>"
pepe_perps_minimum_initial_margin_ratio = "<%= parseEther('0.04') %>"
pepe_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
pepe_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
pepe_perps_max_seconds_in_liquidation_window = "30"
pepe_perps_minimum_position_margin = "<%= parseEther('50') %>"
pepe_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
pepe_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
pepe_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createPepePerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.pepe_perps_market_id %>", "Pepe", "PEPE"]

[invoke.setPerpsPricePepe]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= extras.pepe_oracle_id %>",
    "<%= settings.bigCapStrictStalenessTolerance %>",
]

[invoke.addPerpsPepeSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.pepe_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.pepe_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.pepe_pyth_settlement_strategy.arg = 2
[invoke.setPerpsPepeSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= extras.pepe_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.big_cap_settlement_delay %>", settlementWindowDuration = "<%= settings.big_cap_settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_pepe %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsPepeFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= settings.pepe_perps_market_skew_scale %>",
    "<%= settings.pepe_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsPepeOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= settings.pepe_perps_maker_fee_ratio %>",
    "<%= settings.pepe_perps_taker_fee_ratio %>",
]

[invoke.setPerpsPepeMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.pepe_perps_market_id %>", "<%= settings.pepe_perps_max_market_size %>"]

[invoke.setPerpsPepeMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.pepe_perps_market_id %>", "<%= settings.pepe_perps_max_market_value %>"]

[invoke.setPerpsPepeMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= settings.pepe_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.pepe_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.pepe_perps_max_liquidation_pd %>",
    "<%= settings.pepe_perps_endorsed_liquidator %>",
]

[invoke.setPerpsPepeLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.pepe_perps_market_id %>",
    "<%= settings.pepe_perps_initial_margin_ratio %>",
    "<%= settings.pepe_perps_minimum_initial_margin_ratio %>",
    "<%= settings.pepe_perps_maintenance_margin_scalar %>",
    "<%= settings.pepe_perps_flag_reward_ratio_d18 %>",
    "<%= settings.pepe_perps_minimum_position_margin %>",
]

[invoke.setPerpsPepeLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.pepe_perps_market_id %>", "<%= settings.pepe_perps_locked_oi_ratio %>"]
