[var.perps_ethbtc_market_settings]
ethbtc_perps_market_id = "4800"
ethbtc_perps_market_skew_scale = "<%= parseEther(String(3_400_000_000)) %>"
ethbtc_perps_market_max_funding_velocity = "<%= parseEther('4') %>"
ethbtc_perps_maker_fee_ratio = "<%= parseEther('0.000001') %>"
ethbtc_perps_taker_fee_ratio = "<%= parseEther('0.000500') %>"
ethbtc_perps_max_market_size = "<%= parseEther(String(72_226_506)) %>"
ethbtc_perps_max_market_value = "<%= parseEther(String(2_000_000)) %>"
ethbtc_perps_initial_margin_ratio = "<%= parseEther('1.39') %>"
ethbtc_perps_maintenance_margin_scalar = "<%= parseEther('0.26') %>"
ethbtc_perps_minimum_initial_margin_ratio = "<%= parseEther('0.02') %>"
ethbtc_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
ethbtc_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
ethbtc_perps_max_seconds_in_liquidation_window = "30"
ethbtc_perps_minimum_position_margin = "<%= parseEther('50') %>"
ethbtc_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
ethbtc_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
ethbtc_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createEthbtcPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.ethbtc_perps_market_id %>", "Ether/Bitcoin Ratio", "ETHBTC"]

[invoke.setPerpsPriceEthbtc]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= extras.ethbtc_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsEthbtcSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.ethbtc_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.ethbtc_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.ethbtc_pyth_settlement_strategy.arg = 2
[invoke.setPerpsEthbtcSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= extras.ethbtc_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_ethbtc %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsEthbtcFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= settings.ethbtc_perps_market_skew_scale %>",
    "<%= settings.ethbtc_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsEthbtcOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= settings.ethbtc_perps_maker_fee_ratio %>",
    "<%= settings.ethbtc_perps_taker_fee_ratio %>",
]

[invoke.setPerpsEthbtcMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.ethbtc_perps_market_id %>", "<%= settings.ethbtc_perps_max_market_size %>"]

[invoke.setPerpsEthbtcMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.ethbtc_perps_market_id %>", "<%= settings.ethbtc_perps_max_market_value %>"]

[invoke.setPerpsEthbtcMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= settings.ethbtc_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.ethbtc_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.ethbtc_perps_max_liquidation_pd %>",
    "<%= settings.ethbtc_perps_endorsed_liquidator %>",
]

[invoke.setPerpsEthbtcLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.ethbtc_perps_market_id %>",
    "<%= settings.ethbtc_perps_initial_margin_ratio %>",
    "<%= settings.ethbtc_perps_minimum_initial_margin_ratio %>",
    "<%= settings.ethbtc_perps_maintenance_margin_scalar %>",
    "<%= settings.ethbtc_perps_flag_reward_ratio_d18 %>",
    "<%= settings.ethbtc_perps_minimum_position_margin %>",
]

[invoke.setPerpsEthbtcLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.ethbtc_perps_market_id %>", "<%= settings.ethbtc_perps_locked_oi_ratio %>"]
