[var.perps_link_market_settings]
link_perps_market_id = "1900"
link_perps_market_skew_scale = "<%= parseEther(String(5_625_000)) %>"
link_perps_market_max_funding_velocity = "<%= parseEther('9') %>"
link_perps_maker_fee_ratio = "<%= parseEther('0.000200') %>"
link_perps_taker_fee_ratio = "<%= parseEther('0.001000') %>"
link_perps_max_market_size = "<%= parseEther(String(265_650)) %>"
link_perps_max_market_value = "<%= parseEther(String(2_000_000)) %>"
link_perps_initial_margin_ratio = "<%= parseEther('6.73') %>"
link_perps_maintenance_margin_scalar = "<%= parseEther('0.37') %>"
link_perps_minimum_initial_margin_ratio = "<%= parseEther('0.02') %>"
link_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
link_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
link_perps_max_seconds_in_liquidation_window = "30"
link_perps_minimum_position_margin = "<%= parseEther('50') %>"
link_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
link_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
link_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createLinkPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.link_perps_market_id %>", "Chainlink", "LINK"]

[invoke.setPerpsPriceLink]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= extras.link_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsLinkSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.link_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.link_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.link_pyth_settlement_strategy.arg = 2
[invoke.setPerpsLinkSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= extras.link_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_link %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsLinkFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= settings.link_perps_market_skew_scale %>",
    "<%= settings.link_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsLinkOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= settings.link_perps_maker_fee_ratio %>",
    "<%= settings.link_perps_taker_fee_ratio %>",
]

[invoke.setPerpsLinkMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.link_perps_market_id %>", "<%= settings.link_perps_max_market_size %>"]

[invoke.setPerpsLinkMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.link_perps_market_id %>", "<%= settings.link_perps_max_market_value %>"]

[invoke.setPerpsLinkMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= settings.link_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.link_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.link_perps_max_liquidation_pd %>",
    "<%= settings.link_perps_endorsed_liquidator %>",
]

[invoke.setPerpsLinkLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.link_perps_market_id %>",
    "<%= settings.link_perps_initial_margin_ratio %>",
    "<%= settings.link_perps_minimum_initial_margin_ratio %>",
    "<%= settings.link_perps_maintenance_margin_scalar %>",
    "<%= settings.link_perps_flag_reward_ratio_d18 %>",
    "<%= settings.link_perps_minimum_position_margin %>",
]

[invoke.setPerpsLinkLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.link_perps_market_id %>", "<%= settings.link_perps_locked_oi_ratio %>"]
