[var.perps_near_market_settings]
near_perps_market_id = "6100"
near_perps_market_skew_scale = "<%= parseEther(String(11_718_750)) %>"
near_perps_market_max_funding_velocity = "<%= parseEther('9') %>"
near_perps_maker_fee_ratio = "<%= parseEther('0.000200') %>"
near_perps_taker_fee_ratio = "<%= parseEther('0.001000') %>"
near_perps_max_market_size = "<%= parseEther(String(596_400)) %>"
near_perps_max_market_value = "<%= parseEther(String(2_000_000)) %>"
near_perps_initial_margin_ratio = "<%= parseEther('3.35') %>"
near_perps_maintenance_margin_scalar = "<%= parseEther('0.36') %>"
near_perps_minimum_initial_margin_ratio = "<%= parseEther('0.05') %>"
near_perps_flag_reward_ratio_d18 = "<%= parseEther('0.0003') %>"
near_perps_max_liquidation_limit_accumulation_multiplier = "<%= parseEther('1.5') %>"
near_perps_max_seconds_in_liquidation_window = "30"
near_perps_minimum_position_margin = "<%= parseEther('50') %>"
near_perps_locked_oi_ratio = "<%= parseEther('0.5') %>"
near_perps_max_liquidation_pd = "<%= parseEther('0.0005') %>"
near_perps_endorsed_liquidator = "0x11233749514Ab8d00C0A5873DF7428b3db70030f"

[invoke.createNearPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.near_perps_market_id %>", "Near Protocol", "NEAR"]

[invoke.setPerpsPriceNear]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= extras.near_oracle_id %>",
    "<%= settings.strict_staleness_tolerance %>",
]

[invoke.addPerpsNearSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [

    "<%= settings.near_perps_market_id %>",

    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.near_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.near_pyth_settlement_strategy.arg = 2
[invoke.setPerpsNearSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= extras.near_pyth_settlement_strategy %>",
    { strategyType = "0", settlementDelay = "<%= settings.settlement_delay %>", settlementWindowDuration = "<%= settings.settlement_window_duration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pyth_feed_id_near %>", settlementReward = "<%= settings.settlement_reward %>", disabled = false, commitmentPriceDelay = "<%= settings.commitment_price_delay %>" },
]

[invoke.setPerpsNearFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= settings.near_perps_market_skew_scale %>",
    "<%= settings.near_perps_market_max_funding_velocity %>",
]

[invoke.setPerpsNearOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= settings.near_perps_maker_fee_ratio %>",
    "<%= settings.near_perps_taker_fee_ratio %>",
]

[invoke.setPerpsNearMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.near_perps_market_id %>", "<%= settings.near_perps_max_market_size %>"]

[invoke.setPerpsNearMaxMarketValue]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketValue"
args = ["<%= settings.near_perps_market_id %>", "<%= settings.near_perps_max_market_value %>"]

[invoke.setPerpsNearMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= settings.near_perps_max_liquidation_limit_accumulation_multiplier %>",
    "<%= settings.near_perps_max_seconds_in_liquidation_window %>",
    "<%= settings.near_perps_max_liquidation_pd %>",
    "<%= settings.near_perps_endorsed_liquidator %>",
]

[invoke.setPerpsNearLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.near_perps_market_id %>",
    "<%= settings.near_perps_initial_margin_ratio %>",
    "<%= settings.near_perps_minimum_initial_margin_ratio %>",
    "<%= settings.near_perps_maintenance_margin_scalar %>",
    "<%= settings.near_perps_flag_reward_ratio_d18 %>",
    "<%= settings.near_perps_minimum_position_margin %>",
]

[invoke.setPerpsNearLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.near_perps_market_id %>", "<%= settings.near_perps_locked_oi_ratio %>"]
