[setting.settlementReward]
defaultValue = "1"

[setting.perps_keeper_l1_cost_settle_gas_units]
defaultValue = "<%= String(30_000) %>"

[setting.perps_keeper_l2_cost_settle_gas_units]
defaultValue = "<%= String(2_450_000) %>"

[setting.perps_keeper_l1_cost_flag_gas_units]
defaultValue = "<%= String(31_000) %>"

[setting.perps_keeper_l2_cost_flag_gas_units]
defaultValue = "<%= String(1_160_000) %>"

[setting.perps_keeper_l1_cost_liquidate_gas_units]
defaultValue = "<%= String(5_500) %>"

[setting.perps_keeper_l2_cost_liquidate_gas_units]
defaultValue = "<%= String(600_000) %>"

[setting.perps_keeper_settle_tx_size]
defaultValue = "<%= String(5_000) %>"

[setting.perps_keeper_flag_tx_size]
defaultValue = "<%= String(3_100) %>"

[setting.perps_keeper_liquidate_tx_size]
defaultValue = "<%= String(1_100) %>"

[setting.perps_liquidation_min_keeper_reward_usd]
defaultValue = "1"

[setting.perps_liquidation_min_keeper_profit_ratio_d18]
defaultValue = "0.30"

[setting.perps_liquidation_max_keeper_reward_usd]
defaultValue = "100"

[setting.perps_liquidation_max_keeper_scaling_ratio_d18]
defaultValue = "0.3"

[setting.perps_low_util_gradient]
defaultValue = "0" # not enabled

[setting.perps_gradient_breakpoint]
defaultValue = "0" # not enabled

[setting.perps_high_util_gradient]
defaultValue = "0" # not enabled

[invoke.setPerpsLiquidationRewardGuards]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setKeeperRewardGuards"
args = [
    "<%= parseEther(settings.perps_liquidation_min_keeper_reward_usd) %>",
    "<%= parseEther(settings.perps_liquidation_min_keeper_profit_ratio_d18) %>",
    "<%= parseEther(settings.perps_liquidation_max_keeper_reward_usd) %>",
    "<%= parseEther(settings.perps_liquidation_max_keeper_scaling_ratio_d18) %>",
]
depends = [
    'provision.perpsFactory',
    'setting.perps_liquidation_min_keeper_reward_usd',
    'setting.perps_liquidation_min_keeper_profit_ratio_d18',
    'setting.perps_liquidation_max_keeper_reward_usd',
    'setting.perps_liquidation_max_keeper_scaling_ratio_d18',
]

[invoke.setPerpsMaxCollateralForSnxUsd]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = ["0", "<%= MaxUint256 %>"]

[invoke.setPerpsSynthDeductionPriority]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSynthDeductionPriority"
args = [["0"]]

[invoke.setPerAccountCapsPerps]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setPerAccountCaps"
args = ["10", "1"]

[invoke.setPerpsMarketKeeperCostNodeId]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updateKeeperCostNodeId"
args = ["<%= extras.perps_keeper_cost_usd_oracle_id %>"]

[invoke.setInterestRateParams]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setInterestRateParameters"
args = [
    "<%= parseEther(settings.perps_low_util_gradient) %>",
    "<%= parseEther(settings.perps_gradient_breakpoint) %>",
    "<%= parseEther(settings.perps_high_util_gradient) %>",
]
depends = [
    'provision.perpsFactory',
    'setting.perps_low_util_gradient',
    'setting.perps_gradient_breakpoint',
    'setting.perps_high_util_gradient',
]
