include = [
    "../spot-factory.toml",
    "../../oracles/pyth-op.toml",
    "../common/bigcap-settings.toml",
    "../common/settlement-settings.toml"
]

[invoke.createOpSynth]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "owner"
func = "createSynth"
args = ["Synthetic Optimism Token", "snxOP", "<%= settings.owner %>"]
extra.synth_op_market_id.event = "SynthRegistered"
extra.synth_op_market_id.arg = 0
extra.synth_op_token_address.event = "SynthRegistered"
extra.synth_op_token_address.arg = 1

[invoke.setSynthPriceOp]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_op_market_id %>"]
func = "updatePriceData"
args = [
    "<%= extras.synth_op_market_id %>",
    "<%= extras.op_oracle_id %>",
    "<%= extras.op_oracle_id %>"
]

[invoke.setSynthSettlementStrategyOp]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_op_market_id %>"]
func = "addSettlementStrategy"
args = [
    "<%= extras.synth_op_market_id %>",
    { strategyType = "1", settlementDelay = "<%= settings.bigCapSettlementDelay %>", settlementWindowDuration = "<%= settings.bigCapSettlementWindowDuration %>", priceVerificationContract = "<%= settings.pythPriceVerificationAddress %>", feedId = "<%= settings.pythOpFeedId %>", url = "<%= settings.pythFeedUrl %>", settlementReward = 0, minimumUsdExchangeAmount = "<%= parseEther(settings.settlementMinimumUsdExchangeAmount) %>", maxRoundingLoss = "<%= parseEther(settings.settlementMaxRoundingLoss) %>", priceDeviationTolerance = "<%= parseEther('1') %>", disabled = false }
]

[invoke.setSynthAsyncFixedFeeOp]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_op_market_id %>"]
func = "setAsyncFixedFee"
args = ["<%= extras.synth_op_market_id %>", "<%= parseEther(settings.synthOpAsyncFixedFee) %>"]

[invoke.setSynthSkewScaleOp]
target = ["spotFactory.SpotMarketProxy"]
fromCall.func = "getMarketOwner"
fromCall.args = ["<%= extras.synth_op_market_id %>"]
func = "setMarketSkewScale"
args = ["<%= extras.synth_op_market_id %>", "<%= parseEther(settings.synthOpSkewScale) %>"]
