include = ["../../oracles/btc.toml", "../common/bigcap-settings.toml"]

[setting.pythBtcFeedId]

[setting.btcPerpsMarketId]

[setting.perpsBtcSkewScale]

[setting.perpsBtcMaxFundingVelocity]

[setting.perpsBtcMakerFeeRatio]

[setting.perpsBtcTakerFeeRatio]

[setting.perpsBtcMaxMarketSize]

[setting.perpsBtcInitialMarginRatio]

[setting.perpsBtcMaintenanceMarginFraction]

[setting.perpsBtcFlagRewardRatioD18]

[setting.perpsBtcMaxLiquidationLimitAccumulationMultiplier]

[setting.perpsBtcMaxSecondsInLiquidationWindow]

[setting.perpsBtcMinimumPositionMargin]

[setting.perpsBtcLockedOiRatio]

[invoke.createBtcPerpsMarket]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "createMarket"
args = ["<%= settings.btcPerpsMarketId %>", "Bitcoin", "BTC"]

[invoke.setPerpsPriceBtc]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "updatePriceData"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= extras.btc_oracle_id %>",
    "<%= settings.bigCapStrictStalenessTolerance %>",
]

# DO NOT MODIFY THIS STEP!. Edit [invoke.setPerpsBtcSettlementStrategy] instead.
[invoke.addPerpsBtcSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "addSettlementStrategy"
args = [
    "<%= settings.btcPerpsMarketId %>",
    { strategyType = "0", settlementDelay = "0", settlementWindowDuration = "1", priceVerificationContract = "0x0000000000000000000000000000000000000000", feedId = "0x0000000000000000000000000000000000000000000000000000000000000000", settlementReward = "0", disabled = false, commitmentPriceDelay = "0" },
]
extra.btc_pyth_settlement_strategy.event = "SettlementStrategyAdded"
extra.btc_pyth_settlement_strategy.arg = 2

[invoke.setPerpsBtcSettlementStrategy]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setSettlementStrategy"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= extras.btc_pyth_settlement_strategy %>",                                                                                                                                                                                                                                                                                                                                                                                                                         # Settlement Strategy ID
    { strategyType = "0", settlementDelay = "<%= settings.bigCapSettlementDelay %>", settlementWindowDuration = "<%= settings.bigCapSettlementWindowDuration %>", priceVerificationContract = "<%= imports.pyth_erc7412_wrapper.contracts.PythERC7412Wrapper.address %>", feedId = "<%= settings.pythBtcFeedId %>", settlementReward = "<%= parseEther(settings.settlementReward) %>", disabled = false, commitmentPriceDelay = "<%= settings.commitmentPriceDelay %>" },
]
depends = ["invoke.addPerpsBtcSettlementStrategy"]

[invoke.setPerpsBtcFundingParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setFundingParameters"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= parseEther(settings.perpsBtcSkewScale) %>",
    "<%= parseEther(settings.perpsBtcMaxFundingVelocity) %>",
]

[invoke.setPerpsBtcOrderFees]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setOrderFees"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= parseEther(settings.perpsBtcMakerFeeRatio) %>",
    "<%= parseEther(settings.perpsBtcTakerFeeRatio) %>",
]

[invoke.setPerpsBtcMaxMarketSize]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxMarketSize"
args = ["<%= settings.btcPerpsMarketId %>", "<%= parseEther(settings.perpsBtcMaxMarketSize) %>"]

[invoke.setPerpsBtcMaxLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setMaxLiquidationParameters"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= parseEther(settings.perpsBtcMaxLiquidationLimitAccumulationMultiplier) %>",
    "<%= settings.perpsBtcMaxSecondsInLiquidationWindow %>",
    "<%= parseEther(settings.perpsBtcMaxLiquidationPd) %>",
    "<%= settings.perpsBtcEndorsedLiquidator %>",
]

[invoke.setPerpsBtcLiquidationParameters]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLiquidationParameters"
args = [
    "<%= settings.btcPerpsMarketId %>",
    "<%= parseEther(settings.perpsBtcInitialMarginRatio) %>",
    "<%= parseEther(settings.perpsBtcMinimumInitialMarginRatio) %>",
    "<%= parseEther(settings.perpsBtcMaintenanceMarginScalar) %>",
    "<%= parseEther(settings.perpsBtcFlagRewardRatioD18) %>",
    "<%= parseEther(settings.perpsBtcMinimumPositionMargin) %>",
]

[invoke.setPerpsBtcLockedOiRatio]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setLockedOiRatio"
args = ["<%= settings.btcPerpsMarketId %>", "<%= parseEther(settings.perpsBtcLockedOiRatio) %>"]
