[setting.snx_aggregator_address]

[setting.snx_chainlink_staleness_tolerance]

[invoke.registerSnxOracleManagerNode]
target = ["system.oracle_manager.Proxy"]
func = "registerNode"
args = [
    # 3 = chainlink aggregator type
    3,
    # 3 parameters are: address of the chainlink oracle
    "<%= defaultAbiCoder.encode(['address', 'uint256', 'uint8'], [settings.snx_aggregator_address, 0, 8]) %>",
    [
    ],
]
extra.snx_oracle_id_raw.event = "NodeRegistered"
extra.snx_oracle_id_raw.arg = 0
depends = ['provision.system', 'setting.snx_aggregator_address']

[invoke.registerSnxWithStaleness]
target = ["system.oracle_manager.Proxy"]
func = "registerNode"
args = [
    7, # 7 = staleness circuit breaker
    "<%= defaultAbiCoder.encode(['uint256'], [settings.snx_chainlink_staleness_tolerance]) %>",
    [
        "<%= extras.snx_oracle_id_raw %>",
    ],
]
extra.snx_oracle_id.event = "NodeRegistered"
extra.snx_oracle_id.arg = 0
