[provision.RewardsDistributor_PerpsCollateral_ETH_liquidation_rewards]
source = "synthetix-rewards-dist-ext:3.3.21-dev.fd4c5628"
target = "synthetix-rewards-dist-ext:3.3.21-dev.fd4c5628@ETH_Perps_rewards"
options.salt = "<%= settings.salt %>"
options.rewardManager = "<%= imports.system.contracts.CoreProxy.address %>"
options.poolId = "<%= extras.spartan_council_pool_id %>"
options.collateralType = "<%= extras.synth_eth_token_address %>"
options.payoutToken = "<%= extras.synth_eth_token_address %>"
options.payoutTokenDecimals = "18"
options.name = "Perps Collateral Liquidation Rewards for ETH (as ETH)"
options.authorizedDistributor = "<%= imports.perpsFactory.contracts.PerpsMarketProxy.address %>"

[invoke.PerpsMarketProxy_setCollateralConfiguration_eth]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "setCollateralConfiguration"
args = [
    "<%= extras.synth_eth_market_id %>",
    "<%= settings.synth_eth_max_collateral_amount %>",
    "<%= settings.eth_upper_limit_discount %>",
    "<%= settings.eth_lower_limit_discount %>",
    "<%= settings.eth_discount_scalar %>",
]

[invoke.PerpsMarketProxy_registerDistributor_eth]
target = ["perpsFactory.PerpsMarketProxy"]
fromCall.func = "owner"
func = "registerDistributor"
args = [
    "<%= settings.synth_eth_token_address %>",
    "<%= imports.RewardsDistributor_PerpsCollateral_ETH_liquidation_rewards.contracts.RewardsDistributorExternal.address %>",
    "<%= settings.synth_eth_market_id %>",
    [
        "<%= settings.usdc_address %>",
        "<%= settings.weth_address %>",
    ],
]
