name: Simulate Release

on:
  pull_request: {}
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CANNON_SETTINGS: ${{ secrets.CANNON_SETTINGS }}
      INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
    strategy:
      matrix:
        network: [goerli, optimism-goerli]
        manifest: [omnibus.toml]
    steps:
      - name: Install Foundry (Cannon)
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - run: anvil -V
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.16.0"
      - uses: ibnesayeed/setup-ipfs@92d412e0dad36c06ffab50733e9c624896a0964f
        with:
          run_daemon: true
      - run: |
          npx @usecannon/cli build omnibus-${{ matrix.network }}.toml --upgrade-from synthetix-omnibus:latest \
            --network https://${{ matrix.network }}.infura.io/v3/$INFURA_API_KEY --dry-run
